<template>
	<v-layout>
		<div class="br-section-wrapper pd-0">
			<form @submit.prevent="submit(model)" autocomplete="off">
				<div class="br-section-header">
					<h6 class="br-section-label">New leasing</h6>
					<p class="br-section-text">A form with a label on top of each form control.</p>
				</div>
				<div class="br-section-body pd-70-force">
					<message-alert :alert="getMessage" />
					<div class="form-layout form-layout-1">
						<div class="row">
							<div class="col-md-12">
								<div class="form-body">
									<div class="row">
										<div class="col-md-12">
											<h4 class="form-section"><i class="ft-map-pin"></i> Address Location</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group" id="location">
												<label>Choose your zone of selling</label>
												<multiselect v-model="model.location" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :multiple="true" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
												</multiselect> <span class="error"> </span>
											</div>
										</div>
									</div>
									<h4 class="form-section"><i class="ft-box"></i> Property characteristics</h4>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group" id="ageOfProperty">
												<label>Age of property</label>
												<select v-model="model.ageOfProperty" class="form-control input-md">
													<option value="">Select a value</option>
													<option value="is_new">new</option>
													<option value="is_not_new">not new</option>
												</select> <span class="error"> </span>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group" id="isPreApproved">
												<label>Looking for pre approved?</label>
												<select v-model="model.isPreApproved" class="form-control input-md">
                          <option value="">select a value</option>
                          <option value="is_pre_approved">yes</option>
													<option value="is_not_pre_approved">no</option>
													<option value="any_both">any both</option>
												</select> <span class="error"> </span>
											</div>
										</div>
                    <div class="col-md-3">
											<div class="form-group" id="isPreQualified">
												<label>Looking for pre qualified?</label>
												<select v-model="model.isPreQualified" class="form-control input-md">
                          <option value="">select a value</option>
                          <option value="is_pre_qualified">yes</option>
													<option value="is_not_pre_qualified">no</option>
													<option value="any_both">any both</option>
												</select>
                        <span class="error"> </span>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group" id="isUrgent">
												<label>Urgency of proposal</label>
												<select v-model="model.isUrgent" class="form-control input-md">
													<option value="">Select a value</option>
													<option v-for="valueType in arrayUrgencyOfProposal" :key="valueType" :value="valueType">{{ valueType }}</option>
													<option value="any">any type of urgency</option>
												</select>
                        <span class="error"> </span>
											</div>
										</div>
                    <div class="col-md-3">
											<div class="form-group" id="categoryOfProperty">
												<label>Category of property</label>
												<select v-model="model.categoryOfProperty" class="form-control input-md">
													<option value="">Select a value</option>
                          <option value="is_first_buyer">is first buyer</option>
													<option value="is_not_first_buyer">is not first buyer</option>
													<option value="any_both">any both</option>
												</select>
                        <span class="error"> </span>
											</div>
										</div>
                    <div class="col-md-3">
											<div class="form-group" id="isFirstBuyer">
												<label>Looking for first buyer?</label>
												<select v-model="model.isFirstBuyer" class="form-control input-md">
													<option value="">Select a value</option>
                          <option value="is_first_buyer">is first buyer</option>
													<option value="is_not_first_buyer">is not first buyer</option>
													<option value="any_both">any both</option>
												</select>
                        <span class="error"> </span>
											</div>
										</div>
                    <div class="col-md-3">
											<div class="form-group" id="priceMinimum">
												<label>Price of property min</label>
												<vue-numeric currency="$" separator="," v-model="model.priceMinimum" placeholderValue="Size of property" class="form-control" />
                        <span class="error"> </span>
											</div>
										</div>
                    <div class="col-md-3">
											<div class="form-group" id="priceMaximum">
												<label>Price of property max</label>
												<vue-numeric currency="$" separator="," v-model="model.priceMaximum" placeholderValue="Size of property" class="form-control" />
                        <span class="error"> </span>
											</div>
										</div>
									</div>
									<h4 class="form-section"><i class="ft-check-square"></i> Features</h4>
                  <div class="col-lg-12">
										<div class="form-group mg-b-10-force" id="typeOfProperty">
											<div class="row">
												<div v-for="increment in typeOfProperty" :key="increment" class="col-md-4">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" v-model="model.typeOfProperty" :value="increment">{{ increment }}</label>
												</div>
											</div> <span class="error"></span>
										</div>
									</div>
									<h4 class="form-section"><i class="ft-check-square"></i> Amenities</h4>
                  <div class="col-lg-12">
										<div class="form-group mg-b-10-force" id="typeOfProperty">
											<div class="row">
												<div v-for="increment in listOfAmenities" :key="increment" class="col-md-4">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" v-model="model.amenity" :value="increment">{{ increment }}</label>
												</div>
											</div> <span class="error"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- form-layout -->
				</div>
				<div class="br-section-footer">
					<button id="sell-new" class="btn btn-info">Submit Form</button>
					<button class="btn btn-secondary">Cancel</button>
				</div>
			</form>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Account Index Page
   * ============
   *
   * Page where the user can view the account information.
   */
import VLayout from '@/layouts/Default'
import * as constants from '@/constants/index'
import Transformer from '@/transformers/SearchProposalTransformer'

export default {
    data () {
      return {
        model: {
          location: [],
          ageOfProperty: '',
          isPreApproved: '',
          isPreQualified: '',
          isUrgent: '',
          isFirstBuyer: '',
          categoryOfProperty: '',
          typeOfProperty: [],
          amenity: []
        },
        isLoading: false,
        arrayUrgencyOfProposal: constants.URGENCY_OF_PROPOSAL,
        listOfAmenities: constants.AMENITIES,
        typeOfProperty: constants.TYPE_FOR_SALE,
        cities: []
      }
    },
    methods: {
      submit: function () {
        let payload = {method: 'post', url: 'api/sell/new', data: Transformer.send(this.model), button: document.getElementById('sell-new')}
        this.$store.dispatch('global/submit', payload)
      },
      // function to load cities
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('/api/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },
    computed: {
      getMessage: function () {
        let message = this.$store.state.alert
        if (message.status) {
          this.model = {
            location: [],
            ageOfProperty: '',
            isPreApproved: '',
            isPreQualified: '',
            isUrgent: '',
            isFirstBuyer: '',
            categoryOfProperty: '',
            typeOfProperty: [],
            amenity: []
          }
        }
        return message
      }
    },
    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
}
</script>
