<template>
      <div class="bg-white mg-t-20 pd-30 shadow-base rounded-5">

<div>
<div class="row">
<div class="col-md-4">
<h5>
Display status
</h5>
<p>
Display status.
</p>
</div>
<div class="col-md-8">
<p>
Status: Enabled
</p>
<a class="btn btn-success" href="javascript:;">Enable property to be displayed</a>
</div>
</div>
<hr>
<div class="row prepend-top-default">
<div class="col-md-4">
<h5>
Edit property data
</h5>
<p>
Changing your property can have unintended side effects.
<a href="javascript:;">Learn more</a>.
</p>
</div>
<div class="col-md-8">
<div>
  <p>
      <!--Current path:-->
    </p> <button class="btn btn-warning">
    Update proposal :id
  </button> <div id="username-change-confirmation-modal" tabindex="-1" role="dialog" class="modal fade"><div role="document" class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-label="Close" class="close js-modal-close-action"><span aria-hidden="true">×</span></button> <h4 class="modal-title">
              Change username?
            </h4></div> <div class="modal-body"><span>
You are going to change the username <strong>yvau</strong> to <strong>yvau</strong>.
Profile and projects will be redirected to the yvau namespace but this redirect will expire once the yvau namespace is registered by another user or group.
Please update your Git repository remotes as soon as possible.</span></div> <div class="modal-footer"><button type="button" data-dismiss="modal" class="btn js-modal-cancel-action">
            Cancel
          </button> <button type="button" data-dismiss="modal" class="btn js-modal-primary-action btn-warning">
            Update username
          </button></div></div></div></div></div>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-4">
<h4 class="prepend-top-0 danger-title">
Delete property
</h4>
</div>
<div class="col-md-8">
<p>
Deleting a property has the following effects:
</p>
<ul>
<!--li>
<p>
Certain user content will be moved to a system-wide "Ghost User" in order to maintain content for posterity. For further information, please refer to the
<a href="javascript:;">user account deletion documentation.</a>
</p>
</li-->
<li>property will be permantly removed and cannot be restored</li>
</ul>

<button class="btn btn-danger">
Delete property
</button>
<div class="modal-open"><div id="delete-account-modal" role="dialog" tabindex="-1" class="modal"><div role="document" class="modal-dialog"><div class="modal-content"><div class="modal-header"><h4 class="modal-title pull-left">
              Delete your account?
            </h4> <button type="button" data-dismiss="modal" aria-label="Close" class="close pull-right"><span aria-hidden="true">×</span></button></div> <div class="modal-body"><p>
You are about to permanently delete <strong>your account</strong>, and all of the issues, merge requests, and groups linked to your account.
Once you confirm <strong>Delete Account</strong>, it cannot be undone or recovered.</p> <form action="/users" method="post"><input type="hidden" name="_method" value="delete"> <input type="hidden" name="authenticity_token" value="u/RzrONv6tbtXCG7toBI2f5CB+OGzwPCJ78Diq8RpSziv8/lIG3xPkj/SNHVLxTrPMrBgQYqkadKX7HWFIevZQ=="> <p id="input-label">Type your <code>password</code> to confirm:</p> <input name="password" type="password" aria-labelledby="input-label" class="form-control"></form></div> <div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-default">
            Cancel
          </button> <!----> <button type="button" data-dismiss="modal" class="btn js-primary-button btn-danger">
            Delete account
          </button></div></div></div></div> <!----></div>
</div>
</div>
<div class="append-bottom-default"></div>

</div>



      </div>
</template>
<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    computed: {
      property: function () {
        return this.$store.state.global.object
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
