<template>
<!--Header-->
<header class="layout_default">
   <div class="topbar">
      <div class="container">
         <div class="row">
            <div class="col-md-5">
               <p>We are Best in Town With 40 years of Experience.</p>
            </div>
            <div class="col-md-7 text-right">
               <ul class="breadcrumb_top text-right">
                  <li><router-link :to="{ name: 'aboutus.index' }"><i class="icon-icons43"></i>About us</router-link></li>
                  <li><router-link :to="{ name: 'voneconcept.index' }"><i class="icon-icons215"></i>Vone concept</router-link></li>
                  <li><router-link :to="{ name: 'voneadvantage.index' }"><i class="icon-icons215"></i>Vone advantage</router-link></li>
                  <li><router-link :to="{ name: 'vonerelationship.index' }"><i class="icon-icons215"></i>Vone relationship</router-link></li>
                  <li><router-link :to="{ name: 'blog.index' }"><i class="icon-icons215"></i>Social media blog</router-link></li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <!-- ########## START: HEAD PANEL ########## -->
   <div class="header">
	<div class="container">
		<div class="br-header">
			<div class="br-header-left">
				<div class="br-logo">
					<a href="/"><span>[</span>proov <i>+</i><span>]</span>
					</a>
				</div>
				<!--/div-->
				<!-- input-group -->
			</div>
			<!-- br-header-left -->
			<ul class="nav tx-white flex-column flex-md-row">
				<li class="nav-item">
					<a href="/" class="nav-link">Home</a>
				</li>
				<li class="nav-item">
					<router-link :to="{ name: 'buy.index' }" class="nav-link">Buyer</router-link>
				</li>
				<li class="nav-item">
					<router-link :to="{ name: 'rent.index' }" class="nav-link">Tenant</router-link>
				</li>
				<li class="nav-item">
					<router-link :to="{ name: 'sell.index' }" class="nav-link">Seller</router-link>
				</li>
				<li class="nav-item">
					<router-link :to="{ name: 'lease.index' }" class="nav-link">Lessor</router-link>
				</li>
			</ul>
			<div v-if="!auth.authenticated" class="br-header-right"> <a class="primary mg-r-10" href="/login/">
Login
</a>
				<a class="btn btn-primary" href="/register/">
Register
</a>
			</div>
			<div v-if="auth.authenticated" class="br-header-right">
        <nav class="nav">
          <main-dropdown>
            <div slot="dropdown__head" class="pd-t-5">
              <font-awesome-icon class="tx-20" :icon="['far', 'bell']" />
              <!-- start: if statement -->
              <span class="square-8 bg-danger pos-absolute t-15 r-15 rounded-circle"></span>
              <!-- end: if statement -->
            </div>
            <div slot="dropdown">
              <div class="dropdown-menu-label">
                <label>Notifications</label>
                <a href="">Mark All as Read</a>
              </div><!-- d-flex -->

              <div class="media-list">
                <!-- loop starts here -->
                <a href="" class="media-list-link read">
                  <div class="media">
                    <img src="http://themetrace.com/templates/bracketplus/img/img8.jpg" alt="">
                    <div class="media-body">
                      <p class="noti-text"><strong>Suzzeth Bungaos</strong> tagged you and 18 others in a post.</p>
                      <span>October 03, 2017 8:45am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <!-- loop ends here -->
                <a href="" class="media-list-link read">
                  <div class="media">
                    <img src="http://themetrace.com/templates/bracketplus/img/img9.jpg" alt="">
                    <div class="media-body">
                      <p class="noti-text"><strong>Mellisa Brown</strong> appreciated your work <strong>The Social Network</strong></p>
                      <span>October 02, 2017 12:44am</span>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="media-list-link read">
                  <div class="media">
                    <img src="http://themetrace.com/templates/bracketplus/img/img10.jpg" alt="">
                    <div class="media-body">
                      <p class="noti-text">20+ new items added are for sale in your <strong>Sale Group</strong></p>
                      <span>October 01, 2017 10:20pm</span>
                    </div>
                  </div><!-- media -->
                </a>
                <a href="" class="media-list-link read">
                  <div class="media">
                    <img src="http://themetrace.com/templates/bracketplus/img/img5.jpg" alt="">
                    <div class="media-body">
                      <p class="noti-text"><strong>Julius Erving</strong> wants to connect with you on your conversation with <strong>Ronnie Mara</strong></p>
                      <span>October 01, 2017 6:08pm</span>
                    </div>
                  </div><!-- media -->
                </a>
                <div class="dropdown-footer">
                  <a href=""><i class="fa fa-angle-down"></i> Show All Notifications</a>
                </div>
              </div><!-- media-list -->
            </div><!-- dropdown-menu -->
          </main-dropdown><!-- dropdown -->
          <main-dropdown>
            <div slot="dropdown__head">
              <span class="logged-name hidden-md-down">
                {{$store.state.account.firstName}}
                {{$store.state.account.lastName}}
              </span>
              <img :src="$store.state.account.photoUrl" class="wd-32 rounded-circle" alt="">
              <span class="square-10 bg-success"></span>
                </div>

                <div slot="dropdown">
              <ul class="list-unstyled user-profile-nav">
                <li><router-link active-class="active" :to="{ name: 'profile.edit' }" exact><font-awesome-icon class="tx-15" icon="user-shield" /> Edit Profile</router-link></li>
                <li><router-link active-class="active" :to="{ name: 'notification.index' }" exact><font-awesome-icon class="tx-15" :icon="['far', 'bell']" /> Notifications</router-link></li>
                <!--li><router-link active-class="active" :to="{ name: 'profile.edit' }" exact><font-awesome-icon class="tx-15" icon="address-card" /> Selling Profile</router-link></li-->
                <!--li><router-link active-class="active" :to="{ name: 'profile.edit' }" exact><font-awesome-icon class="tx-15" :icon="['far', 'address-card']" /> Leasing Profile</router-link></li-->
                <li><router-link active-class="active" :to="{ name: 'property.overview' }" exact><font-awesome-icon class="tx-15" icon="home" /> Properties Overview</router-link></li>
                <li><router-link active-class="active" :to="{ name: 'rent.overview' }" exact><font-awesome-icon class="tx-15" :icon="['far', 'building']" /> Renting Overview</router-link></li>
                <li><router-link active-class="active" :to="{ name: 'buy.overview' }" exact><font-awesome-icon class="tx-15" icon="building" /> Buying Overview</router-link></li>
              </ul>
            </div><!-- dropdown-menu -->
          </main-dropdown>
        </nav>
        <div class="navicon-right">
          <a id="btnRightMenu" @click="logout" href="javascript:;" class="pos-relative">
            <font-awesome-icon class="tx-20" icon="sign-out-alt" />
          </a>
        </div><!-- navicon-right -->
      </div><!-- br-header-right -->
			<!-- br-header-right -->
		</div>
		<!-- br-header -->
	</div>
	<!-- container -->
	<div class="bg-white" v-if="context === 'dashboard'">
		<div class="container">
			<div class="menu-bar header-sm-height ht-35 pd-y-10 bd-gray-100 bd-b" data-pages-init="horizontal-menu" data-hide-extra-li="4">
				<a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu"></a>
				<ul>
					<li class=" active">
						<router-link :to="{ name: 'feeds' }">Feeds</router-link>
					</li>
					<li>
<a href="javascript:;"><span class="title">Profile edit</span>
<font-awesome-icon class="tx-10" icon="chevron-down" /></a>
						<ul class="">
							<li class="">
								<router-link :to="{ name: 'profile.edit.password' }">Password</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'profile.edit.role' }">Roles</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'profile.edit.contact' }">Contact</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'profile.edit.information' }">Information</router-link>
							</li>
						</ul>
					</li>
					<li>
<a href="javascript:;"><span class="title">Property</span>
<font-awesome-icon class="tx-10" icon="chevron-down" /></a>
						<ul class="">
							<li class="">
<router-link :to="{ name: 'property.overview' }">Overview</router-link>
							</li>
							<li class="">
<router-link :to="{ name: 'property.new' }">new</router-link>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;"> <span class="title">Buy</span>
							<font-awesome-icon class="tx-10" icon="chevron-down" />
						</a>
						<ul class="">
							<li class="">
								<router-link :to="{ name: 'buy.overview' }" router-link>Overview</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'buy.list' }">List</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'buy.new' }">New</router-link>
							</li>
						</ul>
					</li>
					<li>
						<a href="javascript:;">
<span class="title">Rent</span>
							<font-awesome-icon class="tx-10" icon="chevron-down" />
						</a>
						<ul class="">
							<li class="">
								<router-link :to="{ name: 'rent.overview' }">Overview</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'rent.list' }">List</router-link>
							</li>
							<li class="">
								<router-link :to="{ name: 'rent.new' }">New</router-link>
							</li>
						</ul>
					</li>
					<li>
						<router-link :to="{ name: 'notification.index' }">
<span class="title">Notification</span>
						</router-link>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- header -->
<!-- ########## END: HEAD PANEL ########## -->

</header>
<!--Header Ends-->

</template>

<script>
  /* ============
   * Menu Layout
   * ============
   *
   * Used for the register and login pages.
   *
   * Layouts are used to store a lot of shared code.
   * This way the app stays clean.
   */

  export default {
    /**
     * The name of the layout.
     */
    name: 'menu-layout',

    data: function () {
      return {
        visible: false
      }
    },

    props: {
      context: {
        type: String,
        default: 'default'
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    mounted: function () {
      // var el = document.querySelector('.dropdowntoggle')
      // el.addEventListener('click', this.activate)
    },

    /**
     * The methods that the layout can use.
     */
    methods: {
      activate: function (e) {
        console.log('e')
      },
      toggleDropdown: function (event) {
        console.log(event.currentTarget.parentNode.classList('show'))
      },
      /**
       * Will log the user out.
       */
      logout: function () {
        this.$store.dispatch('auth/logout')
      }
    },
    computed: {
      auth: function () {
        let auth = this.$store.state.auth
        return auth
      }
    }
  }
</script>
