<template>
	<v-layout>
		<div class=" container  container-fixed-lg">
			<div class="br-section-wrapper pd-0">
				<form @submit.prevent="submit(model)" autocomplete="off">
					<div class="br-section-header">
						<h6 class="br-section-label">Information form</h6>
						<p>A form with a label on top of each form control.</p>
					</div>
					<div class="br-section-body pd-70-force">
						<h6 class="br-section-label">Role information</h6>
						<p class="br-section-text">A basic form control with disabled and readonly mode.</p>
						<article v-if="step === 1">
							<div class="form-group" :class="{error: validation.hasError('model.role')}" id="role">
								<div class="row">
									<div class="col-lg-3">
										<div class="item">
											<input type="checkbox" v-model="model.role" id="buyer" value="ROLE_BUYER" />
											<label class="rounded-5 d-block pd-45 tx-center mg-b-0 pos-relative tx-9-force bd tx-light text-lowercase" for="buyer">
												<img class="mg-b-15 mg-t-0 mg-r-auto mg-l-auto d-block" src="/static/images/svg/for-sale.svg" alt=""><strong class="d-block tx-14">Buyer</strong>Postea democritum mnesarchum ne nam, ad vim aperiri tractatos.</label>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="item">
											<input type="checkbox" v-model="model.role" id="tenant" value="ROLE_TENANT" />
											<label class="rounded-5 d-block pd-45 tx-center mg-b-0 pos-relative tx-9-force bd tx-light text-lowercase" for="tenant">
												<img class="mg-b-15 mg-t-0 mg-r-auto mg-l-auto d-block" src="/static/images/svg/for-rent.svg" alt=""><strong class="d-block tx-14">Tenant</strong>Postea democritum mnesarchum ne nam, ad vim aperiri tractatos.</label>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="item">
											<input type="checkbox" v-model="model.role" id="seller" value="ROLE_SELLER" />
											<label class="rounded-5 d-block pd-45 tx-center mg-b-0 pos-relative tx-9-force bd tx-light text-lowercase" for="seller">
												<img class="mg-b-15 mg-t-0 mg-r-auto mg-l-auto d-block" src="/static/images/svg/seller.svg" alt=""><strong class="d-block tx-14">Seller</strong>Postea democritum mnesarchum ne nam, ad vim aperiri tractatos.</label>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="item">
											<input type="checkbox" v-model="model.role" id="lessor" value="ROLE_LESSOR" />
											<label class="rounded-5 d-block pd-45 tx-center mg-b-0 pos-relative tx-9-force bd tx-light text-lowercase" for="lessor">
												<img class="mg-b-15 mg-t-0 mg-r-auto mg-l-auto d-block" src="/static/images/svg/lessor.svg" alt=""><strong class="d-block tx-14">Lessor</strong>Postea democritum mnesarchum ne nam, ad vim aperiri tractatos.</label>
										</div>
									</div>
								</div> <span class="error">{{ validation.firstError('model.role') }}</span>
							</div>
						</article>
						<article v-if="step === 2">
							<div class="row mg-b-25">
								<div class="col-lg-8">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Firstname:</label>
												<input class="form-control" type="text" v-model="model.firstName" placeholder="Enter firstname" />
											</div>
										</div>
										<!-- col-4 -->
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label">Lastname: <span class="tx-danger">*</span>
												</label>
												<input class="form-control" type="text" v-model="model.lastName" placeholder="Enter lastname" />
												<span class="error">{{ validation.firstError('model.lastName') }}</span>
											</div>
										</div>
										<!-- col-4 -->
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label mg-r-10 d-block">Gender : <span class="tx-danger">*</span>
												</label>
												<label class="rdiobox d-inline-block">
													<input type="radio" v-model="model.gender" name="gender" value="female" id="female" /> <span>Female</span>
												</label>
												<label class="rdiobox d-inline-block mg-xs-l-20">
													<input type="radio" v-model="model.gender" name="gender" value="male" id="male" /> <span>Male</span>
												</label>
												<span class="error d-block">{{ validation.firstError('model.gender') }}</span>
											</div>
										</div>
										<!-- col-4 -->
										<div class="col-lg-6">
											<div class="form-group" id="birthDate">
												<label class="d-block tx-11 tx-uppercase tx-medium tx-spacing-1">Birthday: <span class="tx-danger">*</span></label>
												<masked-input class="form-control" type="text" v-model="model.birthDate" mask="1111-11-11" placeholder="yyyy-mm-dd" />
												<span class="error">{{ validation.firstError('model.birthDate') }}</span>
											</div>
										</div>
										<!-- col-4 -->
									</div>
								</div>
								<div class="col-lg-4 widget-4 bg-light">
									<div class="u-text-center bg-light bd bd-dashed bg-gray-300 pd-10">
										<div class="c-avatar c-avatar--large u-mb-small u-inline-flex">
											<img class="c-avatar__img" src="http://themetrace.com/templates/bracketplus/img/img1.jpg" alt="Adam's Face">
										</div>
										<label class="custom-file">
											<input type="file" id="file" class="custom-file-input"> <span class="custom-file-control"></span>
										</label>
									</div>
								</div>
							</div>
							<!-- row -->
							<div class="wrapper" v-show="isSellerOfLessor">
								<hr />
								<h6 class="br-section-label">Agent information</h6>
								<p class="br-section-text">A basic form control with disabled and readonly mode.</p>
								<div class="row">
									<div class="col-lg-4">
										<div class="form-group">
											<label class="form-control-label">Agent type: <span class="tx-danger">*</span>
											</label>
											<input class="form-control" type="text" v-model="model.agentType" placeholder="agent type">
										</div>
									</div>
									<!-- col-4 -->
									<div class="col-lg-4">
										<div class="form-group">
											<label class="form-control-label">Accreditation number: <span class="tx-danger">*</span>
											</label>
											<input class="form-control" type="text" v-model="model.accreditationNumber" placeholder="accreditation number">
										</div>
									</div>
									<!-- col-4 -->
									<div class="col-lg-4">
										<div class="form-group">
											<label class="form-control-label">Name of banner: <span class="tx-danger">*</span>
											</label>
											<input class="form-control" type="text" v-model="model.nameOfBanner" placeholder="name of banner">
										</div>
									</div>
									<!-- col-4 -->
								</div>
							</div>
							<!-- row -->
							<hr />
							<h6 class="br-section-label">Contact information</h6>
							<p class="br-section-text">A basic form control with disabled and readonly mode.</p>
							<div class="row mg-b-25">
								<div class="col-lg-12">
									<div class="form-group mg-b-10-force" id="bestWayToReachYou">
										<label class="form-control-label">Best way to reach you: <span class="tx-danger">*</span>
										</label>
										<select v-model="model.bestWayToReachYou" class="form-control">
											<option value="">Select a best way to reach you</option>
											<option value="email_contact">email</option>
											<option value="home_phone">home</option>
											<option value="office_phone">office</option>
										</select> <span class="error"></span>
										<span class="error">{{ validation.firstError('model.bestWayToReachYou') }}</span>
									</div>
								</div>
								<!-- col-8 -->
								<div class="col-lg-6">
									<div class="form-group mg-b-10-force" id="officePhone">
										<label class="form-control-label">Office number: <span v-if="model.bestWayToReachYou === 'office_phone'" class="tx-danger">*</span>
										</label>
										<masked-input v-model="model.officePhone" name="officePhone" mask="\+\1 (111) 111-1111" placeholder="Office Phone" class="form-control" type="tel" /> <span class="error"></span>
										<span v-if="model.bestWayToReachYou === 'office_phone'" class="error">{{ validation.firstError('model.officePhone') }}</span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-6">
									<div class="form-group mg-b-10-force">
										<label class="form-control-label">Home number: <span v-if="model.bestWayToReachYou === 'home_phone'" class="tx-danger">*</span>
										</label>
										<masked-input v-model="model.homePhone" name="homePhone" mask="\+\1 (111) 111-1111" placeholder="Home Phone" class="form-control" type="tel" />
										<span v-if="model.bestWayToReachYou === 'home_phone'" class="error">{{ validation.firstError('model.homePhone') }}</span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-12">
									<div class="form-group mg-b-10-force">
										<label class="form-control-label">Email contact: <span v-if="model.bestWayToReachYou === 'email_contact'" class="tx-danger">*</span>
										</label>
										<input v-model="model.emailContact" class="form-control" placeholder="eg. name@example.com" />
										<span v-if="model.bestWayToReachYou === 'email_contact'" class="error">{{ validation.firstError('model.emailContact') }}</span>
									</div>
								</div>
								<!-- col-8 -->
							</div>
							<!-- row -->
							<div class="row">
								<div class="col-lg-6">
									<div class="input-group"> <span class="bg-info tx-white input-group-addon"><i class="icon-social-twitter icons tx-16 lh-0 mg-r-10"></i>Twitter</span>
										<input v-model="model.urlTwitter" type="text" class="form-control" placeholder="twitter url">
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-6">
									<div class="input-group"> <span class="bg-primary tx-white input-group-addon"><i class="icon-social-facebook icons tx-16 lh-0 mg-r-10"></i>Facebook</span>
										<input v-model="model.urlFacebook" type="text" class="form-control" placeholder="facebook url">
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-12">
									<label class="form-control-label">About you:</label>
									<textarea v-model="model.aboutYou" class="form-control" rows="10"></textarea>
								</div>
								<!-- col-4 -->
							</div>
							<!-- row -->
						</article>
					</div>
					<div class="br-section-footer">
						<!--button id="edit_password" class="btn btn-info">Submit Form</button>
						<button class="btn btn-secondary">Cancel</button-->
						<button @click.prevent="prev()">Previous</button>
						<button v-if="step !== 2" @click.prevent="next()">Next</button>
						<button v-if="step === 2" id="get-information" class="btn btn-info">Submit Form</button>
					</div>
				</form>
			</div>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Get information Index Page
   * ============
   *
   * Page where the user can login.
   */
import Transformer from '@/transformers/AccountTransformer'
import SimpleVueValidation from 'simple-vue-validator'
import VLayout from '@/layouts/Default'
let Validator = SimpleVueValidation.Validator

  export default {
    data () {
      return {
        step: 1,
        model: {
          role: [],
          firstName: null,
          lastName: null,
          gender: null,
          birthDate: null,
          bestWayToReachYou: '',
          accreditationNumber: null,
          nameOfBanner: null,
          agentType: null,
          officePhone: null,
          homePhone: null,
          emailContact: null,
          urlTwitter: null,
          urlFacebook: null,
          aboutYou: null
        },
        state: null
      }
    },
    validators: {
      'model.role': function (value) {
        if (this.step === 1) {
          return Validator.value(value).required()
        }
      },
      'model.lastName': function (value) {
        if (this.step === 2) {
          return Validator.value(value).required()
        }
      },
      'model.gender': function (value) {
        if (this.step === 2) {
          return Validator.value(value).required()
        }
      },
      'model.birthDate': function (value) {
        if (this.step === 2) {
          return Validator.value(value).required()
        }
      },
      'model.bestWayToReachYou': function (value) {
        if (this.step === 2) {
          return Validator.value(value).required()
        }
      },
      'model.officePhone': function (value) {
        if (this.step === 2 && this.model.bestWayToReachYou === 'office_phone') {
          return Validator.value(value).required()
        }
      },
      'model.homePhone': function (value) {
        if (this.step === 2 && this.model.bestWayToReachYou === 'home_phone') {
          return Validator.value(value).required()
        }
      },
      'model.emailContact': function (value) {
        if (this.step === 2 && this.model.bestWayToReachYou === 'email_contact') {
          return Validator.value(value).required()
        }
      }
    },
    methods: {
      prev: function () {
        this.step--
      },
      next: async function (e) {
        let isValid = await this.validate(e)
        if (isValid) {
          this.step++
        }
      },
      validate: async function (event) {
        let isValid = await this.$validate()
        return isValid
      },
      submit: async function (payload) {
        let isValid = await this.validate(payload)
        console.log(isValid)
        if (isValid) {
          payload = {method: 'post', url: '/api/profile/get_information', data: Transformer.sendInformation(this.model), form: document.getElementById('get-information')}
          this.$store.dispatch('global/submit', payload)
        }
      }
      /* submit: async function (payload) {
        let isValid = await this.validate(payload)
        if (isValid) {
          payload = {method: 'post', url: '/api/profile/get_information', data: Transformer.sendInformation(this.model), form: window.$('#get_information')}
          this.$store.dispatch('global/submit', payload)
        }
      } */
    },
    computed: {
      isSellerOfLessor: function () {
        let isSellerOrLEssor = ['ROLE_SELLER', 'ROLE_LESSOR'].some(e => this.model.role.includes(e))
        return isSellerOrLEssor
      }
    },
    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
