<template>
<v-layout>
  <div class="container  container-fixed-lg pd-y-40">
  
<div class="row">
<div class="col-lg-12 mg-t-20 ">
            <div class="card shadow-base bd-0">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Buying proposal</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="wd-10p pd-y-5">&nbsp;</th>
                    <th class="pd-y-5">Type of property</th>
                    <th class="pd-y-5">Bedrooms</th>
                    <th class="pd-y-5">Bathrooms</th>
                    <th class="pd-y-5">Price</th>
                    <th class="pd-y-5">Date of creation</th>
                    <th class="pd-y-5 tx-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="increment in  list.content" :key="increment.id">
                    <td class="pd-l-20">
                      <img src="http://themepixels.me/bracketplus/img/img23.jpg" class="wd-55" alt="Image">
                    </td>
                    <td>{{ increment.type_of_property.split(',') }}</td>
                    <!--td>
                      <a :href="'/buy/' + increment.id" class="tx-inverse tx-14 tx-medium d-block">The Dothraki Shoes</a>
                      <span class="tx-11 d-block"><span class="square-8 bg-danger mg-r-5 rounded-circle"></span> 20 remaining</span>
                    </td-->
                    <td>{{ increment.bedrooms }}</td>
                    <td>{{ increment.bathrooms }}</td>
                    <td class="valign-middle">{{ increment.price_minimum + ' - ' + increment.price_maximum }}</td>
                    <td class="valign-middle">{{ increment.date_of_creation }}</td>
                    <td class="valign-middle tx-center">
                      <a :href="'/buy/' + increment.id" class="tx-gray-600 tx-15 mg-r-5"><font-awesome-icon icon="eye" /></a>
                      <a :href="'/buy/' + increment.id + '/edit'" class="tx-gray-600 tx-15 mg-r-5"><font-awesome-icon icon="edit" /></a>
                      <a href="" class="tx-gray-600 tx-15"><font-awesome-icon icon="trash-alt" /></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Products</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col-6 -->
</div>
</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        list: {
          count: null,
          content: []
        },
        isLoading: false,
        cities: []
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function (param) {
        this.isLoading = true
        this.$http.get('/api/p/proposals/list', {params: {typeOfProposal: 'for_sale'}}).then(response => {
          this.list.content = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      }
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
