<template>
	<v-layout>
		<div class="row col-md-10 m-auto">
				<div class="tx-left pd-x-20 mg-r-20">
					<h6 class="tx-gray-800 tx-uppercase tx-bold">Sign Up</h6>
					<p class="tx-gray-600 mg-b-10">Signup using your Information.</p>
<form @submit.prevent="register(user)" class="p-t-15" role="form">
  <message-alert :alert="getMessage" />
<div class="row">
<div class="col-md-6">
<div class="form-group form-group-default" id="firstName">
<label>First name</label>
<input v-model="user.firstName" type="text" class="form-control">
<span class="error"></span>
</div>
</div>
<div class="col-md-6">
<div class="form-group form-group-default required" id="lastName">
<label>Last name</label>
<input type="text" v-model="user.lastName" class="form-control">
<span class="error"></span>
</div>
</div>
</div>
<div class="form-group form-group-default required" id="credential">
<label>Email</label>
<input type="text" v-model="user.credential" class="form-control">
<span class="error"></span>
</div>
<div class="form-group  form-group-default required" id="password">
<label>Password</label>
<input type="password" v-model="user.password" class="form-control">
<span class="error"></span>
</div>
<div class="form-group  form-group-default required" id="rePassword">
<label>Confirm password</label>
<input type="password" v-model="user.rePassword" class="form-control">
<span class="error"></span>
</div>
<div class="form-group  form-group-default required" id="birthDate">
<label>Birthdate</label>
                  <!--the-mask v-model="user.birthDate" type="text" mask="1111-11-11" placeholder="yyyy-mm-dd" class="form-control" /-->
									<the-mask v-model="user.birthDate" :mask="['###.###.###-##', '##.###.###/####-##']" />
<span class="error"></span>
</div>
<div class="row">
                      <a class="col-xs-12 col-md-12 tx-left" href="/login/">
                        Already have an account? Sign in
                      </a>
                    </div>
        <button id="form-register" class="btn btn-primary btn-block pd-y-10 mg-b-30">Register</button>
</form>

<p class="tx-11 tx-uppercase tx-spacing-2">Or Register In With</p>
<a href="/auth/facebook/login" class="btn btn-primary btn-icon">
	<div>
	<font-awesome-icon class="tx-20" :icon="['fab', 'facebook-f']" />
	</div>
</a>
<a href="/auth/linkedin/login" class="btn btn-primary btn-icon mg-l-5">
	<div><font-awesome-icon class="tx-20" :icon="['fab', 'linkedin-in']" />
	</div>
</a>
<a href="/auth/twitter/login" class="btn btn-info btn-icon mg-l-5">
	<div><font-awesome-icon class="tx-20" :icon="['fab', 'twitter']" />
	</div>
</a>
<a href="/auth/google/login" class="btn btn-danger btn-icon mg-l-5">
						<div><font-awesome-icon class="tx-20" :icon="['fab', 'google']" />
						</div>
					</a>
                    <div class="privacy-policy">
                    <div class="tx-size-xs mg-b-30 tx-center">By creating this account, you agree to our <router-link :to="{ name: 'termofuse' }">Terms of Use</router-link> and <router-link :to="{ name: 'privacypolicy' }">Privacy Policy</router-link> upon using this website.</div>
                </div>




        <!--div class="form-group" id="password">
          <input type="password" v-model="user.password" class="form-control" placeholder="Enter your password">
          <span class="error"></span>
        </div-->



				</div>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Register Index Page
   * ============
   *
   * Page where the user can register.
   */

  // import MaskedInput from 'vue-masked-input'
	import VLayout from '../layouts/Minimal.vue'

  export default {
    /**
     * The name of the page.
     */
    name: 'register-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        store: this,
        user: {
          firstName: null,
          lastName: null,
          credential: null,
          rePassword: null,
          password: null,
          birthDate: null
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will register the user.
       *
       * @param {Object} user The user to be registered.
       */
      register (user) {
        // this.$store.dispatch('auth/register', user)
      }
    },

    computed: {
      getMessage: function () {
        let message = 'this.$store.state.alert'
        /* if (message.status) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        } */
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
