<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link crossorigin="anonymous" media="all" rel="stylesheet" href="/static/css/frameworks-73f533b7cc08a9d040e601cfd38fa585.css">

    
    <title>frontend</title>
  <link href="/static/stylesheets/app.fa624cea1202bffa336530e670fa1c78.css" rel="stylesheet"></head>
  <body>
    <!--vue-ssr-outlet-->
    
    <script src="https://js.stripe.com/v3/"></script>

<script src="http://pages.revox.io/dashboard/4.0.0/html/casual/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>

<script src="http://pages.revox.io/dashboard/4.0.0/html/casual/assets/plugins/modernizr.custom.js" type="text/javascript"></script>

<script src="http://pages.revox.io/dashboard/4.0.0/html/casual/pages/js/pages.min.js"></script>

  <script type="text/javascript" src="/static/javascripts/manifest.016ef98f57f443352d24.js"></script>
<script type="text/javascript" src="/static/javascripts/vendor.c787987fae0405e2531a.js"></script>
<script type="text/javascript" src="/static/javascripts/app.34c592b16e9bb173bd46.js"></script>
</body>
</html>
