<template>
  <v-layout context="dashboard">
<div class=" container  container-fixed-lg">
  <div class="br-section-wrapper pd-0">
    <form @submit.prevent="submit(model)" autocomplete="off">
    <div class="br-section-header">
              <h6 class="br-section-label">Edit contact</h6>
              <p>A form with a label on top of each form control.</p>
    </div>
    <div class="br-section-body pd-70-force">

          <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
              <div class="col-lg-12">
                <div class="form-group mg-b-10-force" id="bestWayToReachYou">
                  <label class="form-control-label">Best way to reach you: <span class="tx-danger">*</span></label>
                  <select v-model="model.bestWayToReachYou" class="full-width" data-init-plugin="cs-select">
                    <option value="">Select a best way to reach you</option>
                    <option value="email_contact">email</option>
                    <option value="home_phone">home</option>
                    <option value="office_phone">office</option>
                  </select>
                  <span class="error"></span>
                </div>
              </div><!-- col-8 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force" id="officePhone">
                  <label class="form-control-label">Office number: <span v-if="model.bestWayToReachYou === 'office_phone'" class="tx-danger">*</span></label>
                  <input v-model="model.officePhone" mask="\+\1 (111) 111-1111" placeholder="Office Phone" class="form-control" type="tel" />
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Home number: <span v-if="model.bestWayToReachYou === 'home_phone'" class="tx-danger">*</span></label>
                  <input v-model="model.homePhone" mask="\+\1 (111) 111-1111" placeholder="Home Phone" class="form-control" type="tel" />
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-12">
                <div class="form-group mg-b-10-force">
                  <label class="form-control-label">Email contact: <span v-if="model.bestWayToReachYou === 'email_contact'" class="tx-danger">*</span></label>
                  <input v-model="model.emailContact" class="form-control" placeholder="eg. name@example.com" />
                </div>
              </div><!-- col-8 -->
            </div><!-- row -->


          </div><!-- form-layout -->
        </div>
        <div class="br-section-footer">

                      <button id="edit_contact" class="btn btn-info">Submit Form</button>
                      <button class="btn btn-secondary">Cancel</button>

                  </div>
                </form>


        </div>
</div>

  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'profile-editcontact',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          emailContact: null,
          homePhone: null,
          officePhone: null,
          bestWayToReachYou: ''
        }
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'api/profile/edit/contact', data: this.model, form: window.$('#edit_contact')}
        this.$store.dispatch('global/submit', payload)
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
