<template>
  <v-layout>
    <div class="row col-md-10 m-auto">
      <div class="tx-left pd-x-20 mg-r-20">
					<h6 class="tx-gray-800 tx-uppercase tx-bold">Recover password</h6>
					<p class="tx-gray-600 mg-b-10">Retype a new password to reset it.</p>
<form @submit.prevent="submit(model)" class="p-t-15" role="form">
  <div class="alert alert-danger alert-bordered pd-y-20" role="alert" v-show="message.status">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="d-flex align-items-center justify-content-start">
                      <i class="tx-success icon ion-ios-close alert-icon tx-52 mg-r-20"></i>
                      <div>
                        <h5 class="mg-b-2">{{ message.body.field }}</h5>
                        <p class="mg-b-0 tx-gray">{{ message.body.message }}</p>
                      </div>
                    </div><!-- d-flex -->
                  </div><!-- alert -->
<div class="form-group form-group-default" id="password">
<label>Type your new password</label>
<input v-model="model.password" type="password" class="form-control">
<span class="error"></span>
</div>
<div class="form-group form-group-default" id="rePassword">
<label>Confirm Your password</label>
<input type="password" v-model="model.rePassword" class="form-control">
<span class="error"></span>
</div>
<div class="row">
          <div class="col-lg-6 col-xs-6">
            <p><small>I agree to the <a href="#" class="text-info">Pages Terms</a> and <a href="#" class="text-info">Privacy</a>.</small>
            </p>
          </div>
          <div class="col-lg-6 col-xs-6 text-right">
            <a href="#" class="text-info small">Help? Contact Support</a>
          </div>
        </div>
        <button id="form-reset" class="btn btn-primary btn-block pd-y-10 mg-b-30">Recover password</button>
</form>
</div>
</div>
  </v-layout>
</template>

<script>
  /* ============
   * Register Index Page
   * ============
   *
   * Page where the user can register.
   */

  /* eslint-disable no-unused-vars */
  import VLayout from '@/layouts/Minimal'

  export default {
    /**
     * The name of the page.
     */
    name: 'recoverPassword-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        message: {
          status: false,
          body: {
            field: null,
            message: null
          }
        },
        model: {
          token: null,
          password: null,
          rePassword: null
        }
      }
    },

    created: function () {
      this.activate()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will register the user.
       *
       * @param {Object} user The user to be registered.
       */
      submit: function (payload) {
        payload = {method: 'post', url: 'auth/reset', data: this.model, button: document.getElementById('form-reset')}
        this.$store.dispatch('global/submit', payload)
      },

      activate: function () {
        this.$http.get('/auth/reset', {params: {t: this.$route.query.t}}).then(response => {
          // get status
          if (!response.data.success) {
            this.$router.push({
              name: 'recover.password.index'
            })
            this.message = {status: true, body: {field: 'Error', message: 'The token is expired'}}
          }
          this.model.token = this.$route.query.t
        }, response => {
          // get failed
          console.log(response)
        })
      }

    },

    /**
     * The computed the page going to use
     */
    computed: {
      getMessage: function () {
        let message = this.$store.state.alert
        if (message.status) {
          this.model = {password: null, rePassword: null}
        }
        return message
      }

    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
