<template>
 <v-layout>
 <div class="container">
         <div class="row">
             <div class="col-sm-12">
                 <div class="u-mv-large u-text-center">
                     <h2 class="u-mb-xsmall">Hi Jessica! Welcome back to the Dashboard.</h2>
                     <p class="u-text-mute u-h6">Check out your past searches and the content you’ve browsed in. <a href="#">View last results</a></p>
                 </div>
             </div>
         </div>

         <div class="row">
             <div class="col-sm-12 col-lg-4">
                 <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards" style="height: 301px;">

                     <img class="u-mb-small" src="https://zawiastudio.com/dashboard/demo/img/icon-intro1.svg" alt="iPhone icon">

                     <h4 class="u-h6 u-text-bold u-mb-small">
                         Check your performance. See the results of all your active campaings.
                     </h4>
                     <a class="c-btn c-btn--info" href="#">Start new Campaign</a>
                 </div>
             </div>

             <div class="col-sm-12 col-lg-4">
                 <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards" style="height: 301px;">

                     <img class="u-mb-small" src="https://zawiastudio.com/dashboard/demo/img/icon-intro2.svg" alt="iPhone icon">

                     <h4 class="u-h6 u-text-bold u-mb-small">
                         Start console and prepare new stuff for your customers or community!
                     </h4>
                     <a class="c-btn c-btn--info" href="#">View your reports</a>
                 </div>
             </div>

             <div class="col-sm-12 col-lg-4">
                 <div class="c-card u-p-medium u-text-center u-mb-medium" data-mh="landing-cards" style="height: 301px;">

                     <img class="u-mb-small" src="https://zawiastudio.com/dashboard/demo/img/icon-intro3.svg" alt="iPhone icon">

                     <h4 class="u-h6 u-text-bold u-mb-small">
                         All Files ready? <br>Start promoting your apps today.
                     </h4>
                     <a class="c-btn c-btn--info" href="#">Start using Dashboar</a>
                 </div>
             </div>
         </div>

         <div class="row u-mt-small">
             <div class="col-lg-6">
                 <h3 class="u-mb-small">Dashboard Overview</h3>

                 <div class="c-card c-overview-card u-p-medium u-mb-medium">
                     <div class="row">
                         <div class="col-4 u-border-right">
                             <div class="c-overview-card__section"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                 <h3 class="u-mb-zero">801, 523</h3>
                                 <p class="u-text-mute u-mb-small">Newsletters Sent</p>
                                 <canvas id="js-chart-newsletters" width="138" height="115" style="display: block; width: 138px; height: 115px;" class="chartjs-render-monitor"></canvas>
                             </div>
                         </div>

                         <div class="col-4 u-border-right">
                             <div class="c-overview-card__section"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                 <h3 class="u-mb-zero">801, 523</h3>
                                 <p class="u-text-mute u-mb-small">Newsletters Sent</p>
                                 <canvas id="js-chart-subscribers" width="138" height="115" style="display: block; width: 138px; height: 115px;" class="chartjs-render-monitor"></canvas>
                             </div>

                         </div>

                         <div class="col-4">
                             <div class="c-overview-card__section"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                 <h3 class="u-mb-zero">801, 523</h3>
                                 <p class="u-text-mute u-mb-small">Newsletters Sent</p>
                                 <canvas id="js-chart-conversion" width="139" height="115" style="display: block; width: 139px; height: 115px;" class="chartjs-render-monitor"></canvas>
                             </div>
                         </div>
                     </div>

                     <span class="c-divider u-mv-medium u-opacity-medium"></span>

                     <div class="row">
                         <div class="col-6 col-md-3 u-border-right">
                             <div class="c-overview-card__section">
                                 <p class="u-text-mute u-nospace">Open Rate</p>
                                 <h3 class="u-nospace">32.21%</h3>

                                 <div class="c-progress c-progress--info c-progress--small u-mb-zero">
                                     <div class="c-progress__bar" style="width:15%;"></div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-6 col-md-3 u-border-right">
                             <div class="c-overview-card__section">
                                 <p class="u-text-mute u-nospace">Read Rate</p>
                                 <h3 class="u-nospace">75.21%</h3>

                                 <div class="c-progress c-progress--info c-progress--small u-mb-zero">
                                     <div class="c-progress__bar" style="width:75.21%;"></div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-6 col-md-3">
                             <div class="c-overview-card__section">
                                 <p class="u-text-mute u-nospace">Attachments</p>
                                 <h3 class="u-nospace">63.45%</h3>

                                 <div class="c-progress c-progress--info c-progress--small u-mb-zero">
                                     <div class="c-progress__bar" style="width:63.45%;"></div>
                                 </div>
                             </div>
                         </div>

                         <div class="col-6 col-md-3 u-border-left">
                             <div class="c-overview-card__section">
                                 <p class="u-text-mute u-nospace">New Subs</p>
                                 <h3 class="u-nospace">72.4%</h3>

                                 <div class="c-progress c-progress--success c-progress--small u-mb-zero">
                                     <div class="c-progress__bar" style="width:72.4%;"></div>
                                 </div>
                             </div>
                         </div>
                     </div>

                 </div>
             </div>

             <div class="col-lg-6">
                 <div class="u-flex u-justify-between">
                     <h3 class="u-mb-small">Recently Opened</h3>

                     <div class="c-field u-width-25 u-mb-small">
                         <label class="c-field__label u-hidden-visually" for="select-recently">Recently Opened</label>

                         <!-- Select2 jquery plugin is used -->
                         <select class="c-select select2-hidden-accessible" name="recently-opened" id="select-recently" data-select2-id="select-recently" tabindex="-1" aria-hidden="true">
                             <option value="value1" data-select2-id="2">All Types</option>
                             <option value="value2">This day</option>
                             <option value="value3">Last Week</option>
                         </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="1" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-select-recently-container"><span class="select2-selection__rendered" id="select2-select-recently-container" role="textbox" aria-readonly="true" title="All Types">All Types</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                     </div>
                 </div>

                 <div class="c-card u-p-medium">
                     <div class="c-fileitem">
                         <div class="c-fileitem__content">
                             <div class="c-fileitem__img">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/recent1.jpg" alt="File's image">
                             </div>

                             <p class="c-fileitem__name">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/icon-pdf.svg" alt="PDF icon">Santorini.pdf
                             </p>
                         </div>

                         <div class="c-fileitem__date">
                             25MB <span class="u-hidden-down@mobile"> <i>|</i> Edited 1 minute ago</span>
                         </div>
                     </div><!-- // .c-fileitem -->

                     <div class="c-fileitem">
                         <div class="c-fileitem__content">
                             <div class="c-fileitem__img">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/recent2.jpg" alt="File's image">
                             </div>

                             <p class="c-fileitem__name">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/icon-pdf.svg" alt="PDF icon">Sea Presentation.pdf
                             </p>
                         </div>

                         <div class="c-fileitem__date">
                             12MB <span class="u-hidden-down@mobile"> <i>|</i> Edited 3 minute ago</span>
                         </div>
                     </div><!-- // .c-fileitem -->

                     <div class="c-fileitem">
                         <div class="c-fileitem__content">
                             <div class="c-fileitem__img">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/recent3.jpg" alt="File's image">
                             </div>

                             <p class="c-fileitem__name">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/icon-doc.svg" alt="PDF icon">Lakes in Austria.doc
                             </p>
                         </div>

                         <div class="c-fileitem__date">
                             25MB <span class="u-hidden-down@mobile"> <i>|</i> Edited 1 minute ago</span>
                         </div>
                     </div><!-- // .c-fileitem -->

                     <div class="c-fileitem">
                         <div class="c-fileitem__content">
                             <div class="c-fileitem__img">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/recent4.jpg" alt="File's image">
                             </div>

                             <p class="c-fileitem__name">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/icon-pdf.svg" alt="PDF icon">Mountain.pdf
                             </p>
                         </div>

                         <div class="c-fileitem__date">
                             54MB <span class="u-hidden-down@mobile"> <i>|</i> Edited on 11/02/2017</span>
                         </div>
                     </div><!-- // .c-fileitem -->

                     <div class="c-fileitem">
                         <div class="c-fileitem__content">
                             <div class="c-fileitem__img">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/recent5.jpg" alt="File's image">
                             </div>

                             <p class="c-fileitem__name">
                                 <img src="https://zawiastudio.com/dashboard/demo/img/icon-doc.svg" alt="PDF icon">Mountains in US.doc
                             </p>
                         </div>

                         <div class="c-fileitem__date">
                             8MB <span class="u-hidden-down@mobile"> <i>|</i>Edited on 09/01/2017</span>
                         </div>
                     </div><!-- // .c-fileitem -->
                 </div>
             </div>
         </div>
     </div>
 </v-layout>
</template>

<script>
  import VLayout from '@/layouts/Default'
  export default {
    components: {
      VLayout
    }
  }
</script>
