<template>
      <div class="bg-white mg-t-20 pd-30 shadow-base rounded-5">


                    <div class="wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top wd-20p">
        <h5>
            Specification        </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">

                            <widget-chart />


    </div>
</div>

      </div>
</template>
<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    computed: {
      property: function () {
        return this.$store.state.global.object
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
