<template>
	<v-layout>
		<div class=" container  container-fixed-lg">
			<div class="br-section-wrapper pd-0">
				<form @submit.prevent="submit(model)" autocomplete="off">
					<div class="br-section-header">
						<h6 class="br-section-label">New buying proposal</h6>
						<p class="br-section-text">A form with a label on top of each form control.</p>
					</div>
					<div class="br-section-body pd-70-force">
						<message-alert :alert="getMessage" />
						<div class="form-layout form-layout-1">
							<div class="row mg-b-25">
								<div class="col-lg-12">
									<div class="form-group mg-b-10-force" id="location">
										<label>City</label>
										<multiselect v-model="model.location" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" :multiple="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
										</multiselect> <span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-3">
									<div class="form-group mg-b-10-force" id="status">
										<label>Status of proposal</label>
										<select v-model="model.status" class="form-control input-md">
											<option value="">Select a value</option>
											<option v-for="increment in isActivated" :key="increment" :value="increment">{{ increment }}</option>
										</select> <span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-3">
									<div class="form-group mg-b-10-force" id="urgent">
										<label>Urgency of proposal</label>
										<select v-model="model.urgent" class="form-control input-md">
											<option value="">Select a value</option>
											<option value="urgency_regular">regular</option>
											<option value="urgency_in_rush">in rush</option>
										</select> <span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-3">
									<div class="form-group mg-b-10-force" id="ageOfProperty">
										<label>age of property</label>
										<select v-model="model.ageOfProperty" class="form-control input-md">
											<option value="">Select a value</option>
											<option value="is_new">new</option>
											<option value="is_used">in use</option>
										</select> <span class="error"></span>
									</div>
								</div>
								<!-- col-8 -->
								<div class="col-lg-3">
									<div class="form-group mg-b-10-force" id="size">
										<label>Size of property</label>
										<vue-numeric separator="," :minus="false" :precision="2" v-model="model.size" class="form-control" />
<span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-6">
									<div class="form-group mg-b-10-force" id="priceMinimum">
										<label>price min</label>
										<vue-numeric currency="$" :minus="false" :precision="2" separator="," v-model="model.priceMinimum" class="form-control" />
<span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-6">
									<div class="form-group mg-b-10-force" id="priceMaximum">
										<label>price max</label>
										<vue-numeric currency="$" :minus="false" :precision="2" separator="," v-model="model.priceMaximum" class="form-control" />
<span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-6">
									<div class="form-group mg-b-10-force" id="bedrooms">
										<label>Bedroom min</label>
										<select v-model="model.bedrooms" class="form-control input-md">
											<option value="">Select a value</option>
											<option v-for="n in 9" :key="n" :value="n">{{n}}</option>
											<option value="10">10+</option>
										</select> <span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-6">
									<div class="form-group mg-b-10-force" id="bathrooms">
										<label>Bathroom min</label>
										<select v-model="model.bathrooms" class="form-control input-md">
											<option value="">Select a value</option>
											<option v-for="n in 9" :key="n" :value="n">{{n}}</option>
											<option value="10">10+</option>
										</select> <span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
								<div class="col-lg-12">
									<div class="form-group mg-b-10-force" id="typeOfProperty">
										<label>Characteristics</label>
										<div class="row">
											<div v-for="increment in typeOfProperty" :key="increment" class="col-md-4">
												<label class="form-check-label">
													<input class="form-check-input" type="checkbox" v-model="model.typeOfProperty" :value="increment">{{ increment }}</label>
											</div>
										</div>
<span class="error"></span>
									</div>
								</div>
								<!-- col-4 -->
							</div>
							<!-- row -->
						</div>
						<!-- form-layout -->
					</div>
					<div class="br-section-footer">
						<button id="new_buy" class="btn btn-info">Submit Form</button>
						<button class="btn btn-secondary">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from '@/transformers/ProposalTransformer'
  import VLayout from '@/layouts/Default'
  import * as constants from '@/constants/index'
  import Alert from '@/components/message/Alert'

  export default {
    /**
     * The name of the page.
     */
    name: 'buy-new',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          bathrooms: '',
          bedrooms: '',
          typeOfProperty: [],
          typeOfProposal: 'for_sale',
          priceMinimum: 0,
          priceMaximum: 0,
          size: 0
        },
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: '/api/buy/new', data: Transformer.send(this.model), form: document.getElementById('new_buy')}
        this.$store.dispatch('global/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('/api/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_SALE
      },
      getMessage: function () {
        let message = this.$store.state.alert
        if (message.status) {
          this.model = {
            location: [],
            status: '',
            urgent: '',
            ageOfProperty: '',
            bathrooms: '',
            bedrooms: '',
            typeOfProperty: [],
            typeOfProposal: 'for_sale',
            priceMinimum: 0,
            priceMaximum: 0,
            size: 0
          }
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      Alert,
      VLayout
    }
  }
</script>
