<template>
<v-layout context="dashboard">
  <div class="container  container-fixed-lg pd-y-40">


<div class="row">
<div class="col-lg-12 mg-t-20 ">
            <div class="card shadow-base bd-0">
              <div class="card-header pd-20 bg-transparent">
                <h6 class="card-title tx-uppercase tx-12 mg-b-0">Property overview</h6>
              </div><!-- card-header -->
              <table class="table table-responsive mg-b-0 tx-12">
                <thead>
                  <tr class="tx-10">
                    <th class="wd-10p pd-y-5">Id</th>
                    <th class="pd-y-5">Address</th>
                    <th class="pd-y-5 tx-right">Price</th>
                    <th class="pd-y-5">Type of property</th>
                    <th class="pd-y-5 tx-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="increment in  list.content" :key="increment.id">
                    <td class="pd-l-20">
                      {{ increment.id }}
                    </td>
                    <td>
                      <a href="" class="tx-inverse tx-14 tx-medium d-block">{{ increment.location.address + ', '+ increment.location.postal_code }}</a>
                    </td>
                    <td class="valign-middle tx-right">{{ increment.price }}</td>
                    <td class="valign-middle">{{ increment.type }}</td>
                    <td class="valign-middle tx-center">
                      <a :href="'/property/' + increment.id" class="tx-gray-600 tx-15 mg-r-5"><font-awesome-icon icon="eye" /></a>
                      <a :href="'/property/' + increment.id + '/edit'" class="tx-gray-600 tx-15 mg-r-5"><font-awesome-icon icon="edit" /></a>
                      <a href="" class="tx-gray-600 tx-15"><font-awesome-icon icon="trash-alt" /></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="card-footer tx-12 pd-y-15 bg-transparent">
                <a href=""><i class="fa fa-angle-down mg-r-5"></i>View All Products</a>
              </div><!-- card-footer -->
            </div><!-- card -->
          </div><!-- col-6 -->
</div>
</div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */
  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        list: {
          count: null,
          content: []
        },
        isLoading: false,
        cities: []
      }
    },

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.findAll()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      findAll: function (param) {
        this.isLoading = true
        this.$http.get('/api/p/properties/list', {params: {typeOfProposal: 'for_sale'}}).then(response => {
          this.list.content = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
