<template>
<v-layout>
  <div class=" container  container-fixed-lg">
  <div class="br-section-wrapper pd-0">
    <form @submit.prevent="submit(model)" autocomplete="off">
  <div class="br-section-header">
          <h6 class="br-section-label">New renting proposal</h6>
          <p class="br-section-text">A form with a label on top of each form control.</p>
</div>
<div class="br-section-body pd-70-force">
  <message-alert :alert="getMessage" />
          <div class="form-layout form-layout-1">
            <div class="row mg-b-25">
              <div class="col-lg-12">
                <div class="form-group" id="location">
                  <label>City</label>
  <multiselect v-model="model.location" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" :multiple="true" @search-change="onChangeLocation"> <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
										</multiselect>
  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" id="status">
                  <label>Status of proposal</label>
                                    <select v-model="model.status" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option v-for="increment in isActivated" :key="increment" :value="increment">{{ increment }}</option>
                                    </select>
                                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group" id="urgent">
                  <label>Urgency of proposal</label>
                                    <select v-model="model.urgent" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option v-for="increment in urgencyOfProposal" :key="increment" :value="increment">{{ increment }}</option>
                                    </select>
                                    <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force" id="ageOfProperty">
                  <label>age of property</label>
<select v-model="model.ageOfProperty" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option value="is_new">new </option>
                                      <option value="in_used">in use</option>
                                    </select>
                                    <span class="error"></span>
                </div>
              </div><!-- col-8 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force" id="size">
                  <label>Size of property</label>
                  <vue-numeric separator="," :minus="false" :precision="2" v-model="model.size" class="form-control" />
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force" id="isFurnished">
                  <label>is furnished</label>
                                    <select v-model="model.isFurnished" class="form-control input-md">
                                      <option value="">Select a value</option>
                                      <option value="is_furnished">is furnished</option>
                                      <option value="not_furnished">not furnished</option>
                                    </select>
                                    <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force" id="priceMinimum">
                  <label>price min</label>
<vue-numeric currency="$" separator="," v-model="model.priceMinimum" placeholderValue="Size of property" class="form-control" />
<span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force" id="priceMaximum">
                  <label>price max</label>
<vue-numeric currency="$" separator="," v-model="model.priceMaximum" placeholderValue="Size of property" class="form-control" />
<span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-12">
                <div class="form-group mg-b-10-force" id="typeOfProperty">
                  <label for="descriptionProperty">Type of property</label>
<div class="row">
                <div v-for="increment in typeOfProperty" :key="increment" class="col-md-4">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" v-model="model.typeOfProperty" :value="increment"> {{ increment }}
  </label>
</div>
              </div>
              <span class="error"></span>
                </div>
              </div><!-- col-4 -->
            </div><!-- row -->

          </div><!-- form-layout -->
          </div>

          <div class="br-section-footer">

              <button id="rent-new" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>
        </form>

        </div>
  </div>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from '@/transformers/ProposalTransformer'
  import VLayout from '@/layouts/Default'
  import * as constants from '@/constants/index'
  import Alert from '@/components/message/Alert'

  export default {
    /**
     * The name of the page.
     */
    name: 'rent-new',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          location: [],
          status: '',
          urgent: '',
          ageOfProperty: '',
          typeOfProperty: [],
          typeOfProposal: 'for_rent',
          priceMinimum: 0,
          priceMaximum: 0,
          isFurnished: '',
          size: 0
        },
        action: null,
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: '/api/rent/new', data: Transformer.send(this.model), button: document.getElementById('rent-new')}
        this.$store.dispatch('global/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('/api/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      }
    },

    computed: {
      isActivated: function () {
        return constants.IS_ACTIVATED
      },
      urgencyOfProposal: function () {
        // constants.URGENCY_OF_PROPOSAL.splice(2)
        return constants.URGENCY_OF_PROPOSAL
      },
      typeOfProperty: function () {
        return constants.TYPE_FOR_RENT
      },
      getMessage: function () {
        let message = this.$store.state.alert
        if (message.status) {
          this.user = {firstName: null, lastName: null, credential: null, rePassword: null, password: null}
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      Alert,
      VLayout
    }
  }
</script>
