<template>
<v-layout>
	<div class="mg-t-0 mg-b-0 pd-70 tx-center bg-black-9 pos-relative">
		<div class="ht-100p op-6 pos-absolute wd-100p tx-center t-0 l-0 background-size-cover background-center-no-repeat" style="background-image: url('https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/09/featured-add-listing.jpg')"></div>
		<div class="pos-relative">
			<h1 class="tx-white tx-64">Relationship</h1>
			<span class="tx-white">Add your business to Listable, so customers can easily find it.</span>
		</div>
	</div>

<section class="pd-y-40">
<div class="container">
  <div class="row">
    <div class="col-md-10 m-auto pd-b-10">
        <h3 class="tx-25">Lorem ipsum dolor sit amet, enim populo numquam te quo, pri ad quis mentitum urbanitas.</h3>
      </div>
    </div>
  </div>
</section>


			<section class="bg-white pd-y-40">
      <div class="container">
        <div class="row">
					<div class="col-md-6">
            <img class="wd-100p" src="/static/images/business-3152586_960_720.jpg" alt="Powerful Automation">
          </div>
          <div class="col-md-6">
            <div class="mg-t-30">
              <h3>Powerful automation</h3>
              <p class="tx-16">Ad persecuti sadipscing quo, qui ei ullum nullam.Ei his solet assentior. Movet zril adipisci sit at, id mea adhuc tollit.Id veritus propriae contentiones mea. <a href="javascript:;">manage conversations at scale</a>.</p>
            </div>
          </div>
        </div>
			</div>
			</section>


				<section class="bg-white pd-y-40">
					<div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="mg-t-30">
              <h3>Multiple Mailboxes</h3>
              <p class="tx-16">Vis ipsum eirmod nominavi ad. Ut usu quod graeci temporibus. Nam denique definitionem ad. Ei aliquid fastidii duo, ius quaestio principes ex, viris populo essent sed te. Natum reformidans quo ex, vix ne odio oblique adversarium. Nibh habeo voluptatum pro id, ei vis magna semper..</p>
            </div>
          </div>
          <div class="col-md-6 tx-center">
            <img class="wd-100p" src="/static/images/agreement-2642610_960_720.jpg" alt="Mutliple Mailboxes">
          </div>
        </div>
			</div>
			</section>



    <section class="pd-y-40 bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-md-10 m-auto">
            <h3 class="tx-white tx-center tx-30 tx-normal">Save time searching</h3>
              <p class="tx-white tx-center tx-25">
                Et ius elitr choro inermis, maiestatis liberavisse reprehendunt at mea. Vidit vocibus ex pro, case fabulas sea in, pro stet movet te. Quo ne noster integre, adhuc blandit eam te, vix principes interpretaris at
              </p>
            </div>
          </div>

          </div>

        </section>



</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
   */

  import VLayout from '../layouts/Default.vue'

  export default {
    /**
     * The name of the page.
     */
    name: 'relationship-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
