<template>
  <div class="col-md-9">
    <!--modal-property :show="showForgotPassword" @close="showForgotPassword = false" /-->
      <div class="bg-white pd-30 shadow-base rounded-5">
                    <div class="bd-b pd-y-30 pd-x-0">
        <div class="pos-relative d-table wd-100p ht-100p">
            <div class="wd-100p align-middle d-table-row wd-100p d-flex justify-content-between">
                <div class="pos-relative ht-100p wd-70p align-top d-table-cell">
                    <h2>
                        701 S Miami Ave                    </h2>
                </div>
                <div class="tx-right-force ht-100p wd-30p align-top pos-relative d-table-cell">
            <span class="badge badge-info">
            For Rent        </span>
                </div>
            </div>
            <div class="d-table-row wd-100p valign-middle d-flex justify-content-between">
                <div class="clearfix">
                    <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        August 25, 2017                    </div>
                    <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        <span class="tx-11 tx-spacing-8">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
    </span>
                    </div>
                    <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        <span class="">
	<a href="javascript:void(0)" class="" data-property-id="431">
        <i class="fa fa-heart-o"></i>
        <span class="">
            3        </span>
    </a>
</span>
                    </div>
                                        <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">
                        <i class="lnr lnr-eye" aria-hidden="true"></i>
                        <span class="">1070</span>
                    </div>
                                        <div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">

                    </div>
                </div>
                <div class="d-table-cell ht-100p wd-30p tx-right valign-top">

                        <span class="tx-semibold">
                            Property ID:                        </span>
                        <span class="tx-semibold tx-black">
                            1234                        </span>

                </div>
            </div>
        </div>
</div>
                    <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top valign-middle c-table-cell">


        <h5>
            Propositions       </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">

            <div class="row">

                                <div class="col-md-12 ht-300 tx-center bg-light">
            <div class="pd-60">
              <div class="mg-b-5">
                <img src="/static/images/icons/empty-box.svg" class="d-block m-auto" width="64" />
              </div>
              <p class="tx-20 tx-semibold">You have no new propositions</p>
              <p class="tx-15">Click the button to search for property</p>
              <div class="empty-action">
                <a href="javascript:;" @click="forgotPassword" class="btn btn-primary">---</a>
              </div>
            </div>
          </div>


                            </div>


    </div>
</div>
      </div>
            </div>
</template>
<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'
  import moment from 'moment'
  import transformer from '@/transformers/ProposalTransformer'
  // import ModalProperty from '@/components/modal/ModalProperty'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        showForgotPassword: false
      }
    },

    created: function () {
      // this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      },
      forgotPassword: function (e) {
        this.showForgotPassword = true
        e.preventDefault()
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      // ModalProperty,
      VLayout
    }
  }
</script>
