

.menu-item .menu-warning{
   float:right;
   color:#86181d
}
.menu-item .avatar{
   float:left;
   margin-right:5px
}
.menu-item.alert .Counter{
   color:#cb2431
}
.menu-heading{
   display:block;
   padding:8px 10px;
   margin-top:0;
   margin-bottom:0;
   font-size:13px;
   font-weight:600;
   line-height:20px;
   color:#586069;
   background-color:#f3f5f8;
   border-bottom:1px solid #e1e4e8
}
.menu-heading:hover{
   text-decoration:none
}
.menu-heading:first-child{
   border-top-left-radius:2px;
   border-top-right-radius:2px
}
.menu-heading:last-child{
   border-bottom:0;
   border-bottom-right-radius:2px;
   border-bottom-left-radius:2px
}
.tabnav{
   margin-top:0;
   margin-bottom:15px;
   border-bottom:1px solid #d1d5da
}
.tabnav .Counter{
   margin-left:5px
}
.tabnav-tabs{
   margin-bottom:-1px
}
.tabnav-tab{
   display:inline-block;
   padding:8px 12px;
   font-size:14px;
   line-height:20px;
   color:#586069;
   text-decoration:none;
   background-color:transparent;
   border:1px solid transparent;
   border-bottom:0
}
.tabnav-tab.selected{
   color:#24292e;
   background-color:#fff;
   border-color:#d1d5da;
   border-radius:3px 3px 0 0
}
.tabnav-tab:hover,.tabnav-tab:focus{
   color:#24292e;
   text-decoration:none
}
.tabnav-extra{
   display:inline-block;
   padding-top:10px;
   margin-left:10px;
   font-size:12px;
   color:#586069
}
.tabnav-extra>.octicon{
   margin-right:2px
}
a.tabnav-extra:hover{
   color:#0366d6;
   text-decoration:none
}
.tabnav-btn{
   margin-left:10px
}
.filter-list{
   list-style-type:none
}
.filter-list.small .filter-item{
   padding:4px 10px;
   margin:0 0 2px;
   font-size:12px
}
.filter-list.pjax-active .filter-item{
   color:#586069;
   background-color:transparent
}
.filter-list.pjax-active .filter-item.pjax-active{
   color:#fff;
   background-color:#0366d6
}
.filter-item{
   position:relative;
   display:block;
   padding:8px 10px;
   margin-bottom:5px;
   overflow:hidden;
   font-size:14px;
   color:#586069;
   text-decoration:none;
   text-overflow:ellipsis;
   white-space:nowrap;
   cursor:pointer;
   border-radius:3px
}
.filter-item:hover{
   text-decoration:none;
   background-color:#eaecef
}
.filter-item.selected{
   color:#fff;
   background-color:#0366d6
}
.filter-item .count{
   float:right;
   font-weight:600
}
.filter-item .bar{
   position:absolute;
   top:2px;
   right:0;
   bottom:2px;
   z-index:-1;
   display:inline-block;
   background-color:#eff3f6
}
.subnav{
   margin-bottom:20px
}
.subnav::before{
   display:table;
   content:""
}
.subnav::after{
   display:table;
   clear:both;
   content:""
}
.subnav-bordered{
   padding-bottom:20px;
   border-bottom:1px solid #eaecef
}
.subnav-flush{
   margin-bottom:0
}
.subnav-item{
   position:relative;
   float:left;
   padding:6px 14px;
   font-weight:600;
   line-height:20px;
   color:#586069;
   border:1px solid #e1e4e8
}
.subnav-item+.subnav-item{
   margin-left:-1px
}
.subnav-item:hover,.subnav-item:focus{
   text-decoration:none;
   background-color:#f6f8fa
}
.subnav-item.selected,.subnav-item.selected:hover,.subnav-item.selected:focus{
   z-index:2;
   color:#fff;
   background-color:#0366d6;
   border-color:#0366d6
}
.subnav-item:first-child{
   border-top-left-radius:3px;
   border-bottom-left-radius:3px
}
.subnav-item:last-child{
   border-top-right-radius:3px;
   border-bottom-right-radius:3px
}
.subnav-search{
   position:relative;
   margin-left:10px
}
.subnav-search-input{
   width:320px;
   padding-left:30px;
   color:#586069
}
.subnav-search-input-wide{
   width:500px
}
.subnav-search-icon{
   position:absolute;
   top:9px;
   left:8px;
   display:block;
   color:#c6cbd1;
   text-align:center;
   pointer-events:none
}
.subnav-search-context .btn{
   color:#444d56;
   border-top-right-radius:0;
   border-bottom-right-radius:0
}
.subnav-search-context .btn:hover,.subnav-search-context .btn:focus,.subnav-search-context .btn:active,.subnav-search-context .btn.selected{
   z-index:2
}
.subnav-search-context+.subnav-search{
   margin-left:-1px
}
.subnav-search-context+.subnav-search .subnav-search-input{
   border-top-left-radius:0;
   border-bottom-left-radius:0
}
.subnav-search-context .select-menu-modal-holder{
   z-index:30
}
.subnav-search-context .select-menu-modal{
   width:220px
}
.subnav-search-context .select-menu-item-icon{
   color:inherit
}
.subnav-spacer-right{
   padding-right:10px
}
.UnderlineNav{
   display:flex;
   justify-content:space-between;
   border-bottom:1px solid #e1e4e8
}
.UnderlineNav-body{
   display:flex;
   margin-bottom:-1px
}
.UnderlineNav-item{
   padding:16px 8px;
   margin-right:16px;
   font-size:14px;
   line-height:1.5;
   color:#586069;
   text-align:center;
   border-bottom:2px solid transparent
}
.UnderlineNav-item:hover,.UnderlineNav-item:focus{
   color:#24292e;
   text-decoration:none;
   border-bottom-color:#d1d5da;
   transition:0.2s ease
}
.UnderlineNav-item:hover .UnderlineNav-octicon,.UnderlineNav-item:focus .UnderlineNav-octicon{
   color:#6a737d
}
.UnderlineNav-item.selected{
   font-weight:600;
   color:#24292e;
   border-bottom-color:#e36209
}
.UnderlineNav-item.selected .UnderlineNav-octicon{
   color:#6a737d
}
.UnderlineNav--right{
   justify-content:flex-end
}
.UnderlineNav--right .UnderlineNav-item{
   margin-right:0;
   margin-left:16px
}
.UnderlineNav--right .UnderlineNav-actions{
   flex:1 1 auto
}
.UnderlineNav-actions{
   align-self:center
}
.UnderlineNav--full{
   display:block
}
.UnderlineNav-octicon{
   color:#959da5
}
.UnderlineNav-container{
   display:flex;
   justify-content:space-between
}
.pagination::before{
   display:table;
   content:""
}
.pagination::after{
   display:table;
   clear:both;
   content:""
}





.anim-pulse{
   animation-name:pulse;
   animation-duration:2s;
   animation-timing-function:linear;
   animation-iteration-count:infinite
}

.border{
   border:1px #e1e4e8 solid !important
}
.border-top{
   border-top:1px #e1e4e8 solid !important
}
.border-right{
   border-right:1px #e1e4e8 solid !important
}
.border-bottom{
   border-bottom:1px #e1e4e8 solid !important
}
.border-left{
   border-left:1px #e1e4e8 solid !important
}
.border-y{
   border-top:1px #e1e4e8 solid !important;
   border-bottom:1px #e1e4e8 solid !important
}
.border-dashed{
   border-style:dashed !important
}
.border-blue{
   border-color:#0366d6 !important
}
.border-blue-light{
   border-color:#c8e1ff !important
}
.border-green{
   border-color:#34d058 !important
}
.border-green-light{
   border-color:#a2cbac !important
}
.border-red{
   border-color:#d73a49 !important
}
.border-red-light{
   border-color:#cea0a5 !important
}
.border-purple{
   border-color:#6f42c1 !important
}
.border-yellow{
   border-color:#d9d0a5 !important
}
.border-gray-light{
   border-color:#eaecef !important
}
.border-gray-dark{
   border-color:#d1d5da !important
}
.border-black-fade{
   border-color:rgba(27,31,35,0.15) !important
}
.border-0{
   border:0 !important
}
.border-top-0{
   border-top:0 !important
}
.border-right-0{
   border-right:0 !important
}
.border-bottom-0{
   border-bottom:0 !important
}
.border-left-0{
   border-left:0 !important
}
.rounded-0{
   border-radius:0 !important
}
.rounded-1{
   border-radius:3px !important
}
.rounded-2{
   border-radius:6px !important
}
.circle{
   border-radius:50% !important
}
.box-shadow{
   box-shadow:0 1px 1px rgba(27,31,35,0.1) !important
}
.box-shadow-medium{
   box-shadow:0 1px 5px rgba(27,31,35,0.15) !important
}
.box-shadow-large{
   box-shadow:0 1px 15px rgba(27,31,35,0.15) !important
}
.box-shadow-extra-large{
   box-shadow:0 10px 50px rgba(27,31,35,0.07) !important
}
.box-shadow-none{
   box-shadow:none !important
}
.bg-white{
   background-color:#fff !important
}
.bg-blue{
   background-color:#0366d6 !important
}
.bg-blue-light{
   background-color:#f1f8ff !important
}
.bg-gray-dark{
   background-color:#24292e !important
}
.bg-gray{
   background-color:#f6f8fa !important
}
.bg-gray-light{
   background-color:#fafbfc !important
}
.bg-green{
   background-color:#28a745 !important
}
.bg-green-light{
   background-color:#dcffe4 !important
}
.bg-red{
   background-color:#d73a49 !important
}
.bg-red-light{
   background-color:#ffdce0 !important
}
.bg-yellow{
   background-color:#ffd33d !important
}
.bg-yellow-light{
   background-color:#fff5b1 !important
}
.bg-purple{
   background-color:#6f42c1 !important
}
.bg-purple-light{
   background-color:#f5f0ff !important
}
.bg-shade-gradient{
   background-image:linear-gradient(180deg, rgba(27,31,35,0.065), rgba(27,31,35,0)) !important;
   background-repeat:no-repeat !important;
   background-size:100% 200px !important
}
.text-blue{
   color:#0366d6 !important
}
.text-red{
   color:#cb2431 !important
}
.text-gray-light{
   color:#6a737d !important
}
.text-gray{
   color:#586069 !important
}
.text-gray-dark{
   color:#24292e !important
}
.text-green{
   color:#28a745 !important
}
.text-orange{
   color:#a04100 !important
}
.text-orange-light{
   color:#e36209 !important
}
.text-purple{
   color:#6f42c1 !important
}
.text-white{
   color:#fff !important
}
.text-inherit{
   color:inherit !important
}
.text-pending{
   color:#b08800 !important
}
.bg-pending{
   color:#dbab09 !important
}
.link-gray{
   color:#586069 !important
}
.link-gray:hover{
   color:#0366d6 !important
}
.link-gray-dark{
   color:#24292e !important
}
.link-gray-dark:hover{
   color:#0366d6 !important
}
.link-hover-blue:hover{
   color:#0366d6 !important
}
.muted-link{
   color:#586069 !important
}
.muted-link:hover{
   color:#0366d6 !important;
   text-decoration:none
}
.details-overlay[open]>summary::before{
   position:fixed;
   top:0;
   right:0;
   bottom:0;
   left:0;
   z-index:80;
   display:block;
   cursor:default;
   content:" ";
   background:transparent
}
.details-overlay-dark[open]>summary::before{
   z-index:99;
   background:rgba(27,31,35,0.5)
}
.flex-row{
   flex-direction:row !important
}
.flex-row-reverse{
   flex-direction:row-reverse !important
}
.flex-column{
   flex-direction:column !important
}
.flex-wrap{
   flex-wrap:wrap !important
}
.flex-nowrap{
   flex-wrap:nowrap !important
}
.flex-justify-start{
   justify-content:flex-start !important
}
.flex-justify-end{
   justify-content:flex-end !important
}
.flex-justify-center{
   justify-content:center !important
}
.flex-justify-between{
   justify-content:space-between !important
}
.flex-justify-around{
   justify-content:space-around !important
}
.flex-items-start{
   align-items:flex-start !important
}
.flex-items-end{
   align-items:flex-end !important
}
.flex-items-center{
   align-items:center !important
}
.flex-items-baseline{
   align-items:baseline !important
}
.flex-items-stretch{
   align-items:stretch !important
}
.flex-content-start{
   align-content:flex-start !important
}
.flex-content-end{
   align-content:flex-end !important
}
.flex-content-center{
   align-content:center !important
}
.flex-content-between{
   align-content:space-between !important
}
.flex-content-around{
   align-content:space-around !important
}
.flex-content-stretch{
   align-content:stretch !important
}
.flex-auto{
   flex:1 1 auto !important
}
.flex-shrink-0{
   flex-shrink:0 !important
}
.flex-self-auto{
   align-self:auto !important
}
.flex-self-start{
   align-self:flex-start !important
}
.flex-self-end{
   align-self:flex-end !important
}
.flex-self-center{
   align-self:center !important
}
.flex-self-baseline{
   align-self:baseline !important
}
.flex-self-stretch{
   align-self:stretch !important
}
.flex-item-equal{
   flex-grow:1;
   flex-basis:0
}
@media (min-width: 544px){
   .flex-sm-row{
	   flex-direction:row !important
   }
   .flex-sm-row-reverse{
	   flex-direction:row-reverse !important
   }
   .flex-sm-column{
	   flex-direction:column !important
   }
   .flex-sm-wrap{
	   flex-wrap:wrap !important
   }
   .flex-sm-nowrap{
	   flex-wrap:nowrap !important
   }
   .flex-sm-justify-start{
	   justify-content:flex-start !important
   }
   .flex-sm-justify-end{
	   justify-content:flex-end !important
   }
   .flex-sm-justify-center{
	   justify-content:center !important
   }
   .flex-sm-justify-between{
	   justify-content:space-between !important
   }
   .flex-sm-justify-around{
	   justify-content:space-around !important
   }
   .flex-sm-items-start{
	   align-items:flex-start !important
   }
   .flex-sm-items-end{
	   align-items:flex-end !important
   }
   .flex-sm-items-center{
	   align-items:center !important
   }
   .flex-sm-items-baseline{
	   align-items:baseline !important
   }
   .flex-sm-items-stretch{
	   align-items:stretch !important
   }
   .flex-sm-content-start{
	   align-content:flex-start !important
   }
   .flex-sm-content-end{
	   align-content:flex-end !important
   }
   .flex-sm-content-center{
	   align-content:center !important
   }
   .flex-sm-content-between{
	   align-content:space-between !important
   }
   .flex-sm-content-around{
	   align-content:space-around !important
   }
   .flex-sm-content-stretch{
	   align-content:stretch !important
   }
   .flex-sm-auto{
	   flex:1 1 auto !important
   }
   .flex-sm-shrink-0{
	   flex-shrink:0 !important
   }
   .flex-sm-self-auto{
	   align-self:auto !important
   }
   .flex-sm-self-start{
	   align-self:flex-start !important
   }
   .flex-sm-self-end{
	   align-self:flex-end !important
   }
   .flex-sm-self-center{
	   align-self:center !important
   }
   .flex-sm-self-baseline{
	   align-self:baseline !important
   }
   .flex-sm-self-stretch{
	   align-self:stretch !important
   }
   .flex-sm-item-equal{
	   flex-grow:1;
	   flex-basis:0
   }
}
@media (min-width: 768px){
   .flex-md-row{
	   flex-direction:row !important
   }
   .flex-md-row-reverse{
	   flex-direction:row-reverse !important
   }
   .flex-md-column{
	   flex-direction:column !important
   }
   .flex-md-wrap{
	   flex-wrap:wrap !important
   }
   .flex-md-nowrap{
	   flex-wrap:nowrap !important
   }
   .flex-md-justify-start{
	   justify-content:flex-start !important
   }
   .flex-md-justify-end{
	   justify-content:flex-end !important
   }
   .flex-md-justify-center{
	   justify-content:center !important
   }
   .flex-md-justify-between{
	   justify-content:space-between !important
   }
   .flex-md-justify-around{
	   justify-content:space-around !important
   }
   .flex-md-items-start{
	   align-items:flex-start !important
   }
   .flex-md-items-end{
	   align-items:flex-end !important
   }
   .flex-md-items-center{
	   align-items:center !important
   }
   .flex-md-items-baseline{
	   align-items:baseline !important
   }
   .flex-md-items-stretch{
	   align-items:stretch !important
   }
   .flex-md-content-start{
	   align-content:flex-start !important
   }
   .flex-md-content-end{
	   align-content:flex-end !important
   }
   .flex-md-content-center{
	   align-content:center !important
   }
   .flex-md-content-between{
	   align-content:space-between !important
   }
   .flex-md-content-around{
	   align-content:space-around !important
   }
   .flex-md-content-stretch{
	   align-content:stretch !important
   }
   .flex-md-auto{
	   flex:1 1 auto !important
   }
   .flex-md-shrink-0{
	   flex-shrink:0 !important
   }
   .flex-md-self-auto{
	   align-self:auto !important
   }
   .flex-md-self-start{
	   align-self:flex-start !important
   }
   .flex-md-self-end{
	   align-self:flex-end !important
   }
   .flex-md-self-center{
	   align-self:center !important
   }
   .flex-md-self-baseline{
	   align-self:baseline !important
   }
   .flex-md-self-stretch{
	   align-self:stretch !important
   }
   .flex-md-item-equal{
	   flex-grow:1;
	   flex-basis:0
   }
}


