<template>
	<v-layout>
		<div class="mg-t-0 mg-b-0 pd-70 tx-center bg-black-9 pos-relative">
			<div class="ht-100p op-6 pos-absolute wd-100p tx-center t-0 l-0 background-size-cover background-center-no-repeat" style="background-image: url('https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/Death_to_stock_photography_community_premium_5.jpg')"></div>
			<div class="pos-relative">
				<h1 class="tx-white tx-64">Sell</h1>
				<span class="tx-white">Add your business to Listable, so customers can easily find it.</span>
			</div>
		</div>
		<div>
			<!-- HubSpot Callout -->
			<section class="pd-y-40">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="bg-gray-100 bd rounded pd-10 tx-left overflow-hidden pos-relative">
								<div class="row pd-t-20 pd-b-15">
									<div class="col-md-5">
										<ul>
											<li class="d-inline-block valign-top list-unstyled">
												<svg width="63" height="63" viewBox="0 0 63 63" xmlns="http://www.w3.org/2000/svg">
													<g fill="none" fill-rule="evenodd">
														<path d="M31.5 61C47.792 61 61 47.792 61 31.5S47.792 2 31.5 2 2 15.208 2 31.5 15.208 61 31.5 61zm0 2C14.103 63 0 48.897 0 31.5S14.103 0 31.5 0 63 14.103 63 31.5 48.897 63 31.5 63z" fill="#D6DDE3" />
														<path d="M44.071 31.3c-.64-1.067-1.54-1.922-2.666-2.566-.842-.474-1.714-.776-2.698-.905v-3.39c.984-.405 1.594-1.3 1.594-2.344 0-1.423-1.178-2.576-2.647-2.576-1.469 0-2.668 1.153-2.668 2.576 0 1.044.575 1.94 1.558 2.344v3.392c-.786.11-1.602.347-2.347.712-1.521-1.12-6.51-4.79-9.428-6.935.069-.242.122-.491.122-.754 0-1.576-1.318-2.854-2.946-2.854C20.317 18 19 19.278 19 20.854s1.319 2.854 2.947 2.854c.555 0 1.069-.157 1.512-.416l.616.453 8.462 5.906c-.447.398-.864.85-1.197 1.358-.675 1.035-1.088 2.174-1.088 3.417v.26c0 .871.17 1.695.462 2.468.257.676.632 1.29 1.097 1.845l-2.809 2.727c-.831-.3-1.767-.101-2.392.508-.429.413-.668.975-.666 1.56 0 .59.237 1.143.667 1.56.426.415 1.006.648 1.61.646.605.001 1.185-.231 1.61-.646.429-.413.669-.975.667-1.56 0-.228-.036-.45-.104-.662l2.903-2.812c.398.266.828.49 1.29.684.911.381 1.917.614 3.018.614h.202c1.217 0 2.365-.277 3.445-.843 1.137-.599 2.027-1.418 2.7-2.463.676-1.048 1.048-2.206 1.048-3.48v-.063c0-1.253-.3-2.41-.929-3.469zm-3.547 5.9c-.788.848-1.693 1.37-2.717 1.37h-.169c-.585 0-1.157-.156-1.717-.44-.631-.314-1.11-.762-1.503-1.328-.406-.556-.627-1.162-.627-1.806v-.195c0-.633.126-1.233.441-1.8.338-.618.794-1.1 1.4-1.483.596-.38 1.232-.566 1.94-.566h.066c.642 0 1.25.122 1.824.407.585.303 1.062.717 1.433 1.262.36.545.573 1.133.642 1.774.011.133.016.27.016.4 0 .869-.342 1.674-1.029 2.405z" fill="#F8761F" fill-rule="nonzero" />
													</g>
												</svg>
											</li>
											<li class="d-inline-block valign-top list-unstyled">
												<svg width="63" height="63" viewBox="0 0 63 63" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
													<defs>
														<path d="M21.75 34.125c-1-1-1.625-2.375-1.75-4 0-1.5.75-3 1.75-4l8.125-8c1 1 1.625 2.5 1.625 4s-.75 3-1.75 4l-8 8zm19.5-4.75c1 1.125 1.625 2.5 1.625 4s-.75 3-1.75 4l-8 8c-1-1-1.625-2.5-1.625-4s.75-3 1.75-4l8-8zM35.5 23.75L41.375 18c1 1 1.625 2.5 1.625 4s-.75 3-1.75 4l-5.75 5.75-2.375 2.375L29.75 37.5l-2.375 2.375L21.75 45.5c-1-1-1.625-2.5-1.625-4s.75-3 1.75-4l5.625-5.625 2.25-2.375 3.375-3.375L35.5 23.75z" id="a" />
													</defs>
													<g fill="none" fill-rule="evenodd">
														<path d="M31.5 61C47.792 61 61 47.792 61 31.5S47.792 2 31.5 2 2 15.208 2 31.5 15.208 61 31.5 61zm0 2C14.103 63 0 48.897 0 31.5S14.103 0 31.5 0 63 14.103 63 31.5 48.897 63 31.5 63z" fill="#D6DDE3" />
														<use fill="#FFF" xlink:href="#a" />
														<use fill="#3197D6" xlink:href="#a" />
													</g>
												</svg>
											</li>
										</ul>
										<h2 class="tx-30">HubSpot Integration <span class="tx-11 badge badge-info">New</span></h2>
										<p class="tx-16 tx-gray-700 mg-b-40">Fugit alienum in pri. In probo oratio reformidans pro, sea saperet delenit in, ei quo augue ullamcorper. Agam platonem reprehendunt sea et, eu quando melius est, ut vim ceteros sadipscing.</p>
									</div>
									<div class="col-md-7">
                    <img src="/static/images/electrical-2476782_960_720.jpg" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- / HubSpot fields -->
			<!-- Teams -->
			<section class="bg-white tx-left pd-y-40">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
								<h3 class="pos-relative" style="margin-top:1em !important;">
            <i width="25">
              <svg width="25" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
  <path d="M94,46H6c-3.3,0-6-2.7-6-6V16c0-3.3,2.7-6,6-6h88c3.3,0,6,2.7,6,6v24C100,43.3,97.3,46,94,46z M6,14 c-1.1,0-2,0.9-2,2v24c0,1.1,0.9,2,2,2h88c1.1,0,2-0.9,2-2V16c0-1.1-0.9-2-2-2H6z"/>
  <path d="M67,30H14c-1.1,0-2-0.9-2-2s0.9-2,2-2h53c1.1,0,2,0.9,2,2S68.1,30,67,30z"/>
  <path d="M85,32.6l-6.2-5c-0.9-0.7-1-1.9-0.3-2.8c0.7-0.9,1.9-1,2.8-0.3l3.8,3l3.8-3c0.9-0.7,2.1-0.5,2.8,0.3 c0.7,0.9,0.6,2.1-0.3,2.8L85,32.6z"/>
  <path d="M94,90H6c-3.3,0-6-2.7-6-6V60c0-3.3,2.7-6,6-6h88c3.3,0,6,2.7,6,6v24C100,87.3,97.3,90,94,90z M6,58 c-1.1,0-2,0.9-2,2v24c0,1.1,0.9,2,2,2h88c1.1,0,2-0.9,2-2V60c0-1.1-0.9-2-2-2H6z"/>
  <path d="M47,74H14c-1.1,0-2-0.9-2-2s0.9-2,2-2h33c1.1,0,2,0.9,2,2S48.1,74,47,74z"/>
  <path d="M85,76.6l-6.2-5c-0.9-0.7-1-1.9-0.3-2.8c0.7-0.9,1.9-1,2.8-0.3l3.8,3l3.8-3c0.9-0.7,2.1-0.5,2.8,0.3 c0.7,0.9,0.6,2.1-0.3,2.8L85,76.6z"/>
</svg>

            </i>
            Teams
          </h3>
							<p class="tx-20-force">Lorem ipsum dolor sit amet, nec cu viris eirmod epicuri, denique commune efficiantur ut est. Cu vidit choro aliquam cum, his suas ipsum minimum ne. Nec ei quot dicit iracundia, qui repudiare posidonium scribentur in. Homero peric.</p>
						</div>
						<!-- /.o-col -->
						<div class="col-md-5">
									<img src="/static/images/computers-2653005_960_720.jpg" alt="Help Scout Plus plan - Teams" width="100%">
						</div>
						<!-- /.o-col -->
					</div>
					<!-- /.o-row -->
				</div>
				<!-- /.o-container -->
			</section>
			<!-- / Teams -->
			<!-- Docs -->
			<section class="tx-left s-docs">
				<div class="container">
					<div class="row">
						<div class="col-md-7">
								<h3 class="pos-relative" style="margin-top:1em !important;">
            <i>
              <svg width="25" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
  <path d="M62.3,52.9c0,1.1,0.9,2,2,2s2-0.9,2-2c0-3.3,2.7-6,6-6c1.1,0,2-0.9,2-2s-0.9-2-2-2
  C66.8,42.9,62.3,47.4,62.3,52.9z"></path>
  <path d="M22,30h34.2c1.1,0,2-0.9,2-2s-0.9-2-2-2H22c-1.1,0-2,0.9-2,2S20.9,30,22,30z"></path>
  <path d="M21.8,70h31.4c1,0,1.8-0.9,1.8-2s-0.8-2-1.8-2H21.8c-1,0-1.8,0.9-1.8,2S20.8,70,21.8,70z"></path>
  <path d="M70,76H22c-1.1,0-2,0.9-2,2s0.9,2,2,2h48c1.1,0,2-0.9,2-2S71.2,76,70,76z"></path>
  <path d="M70,86H22c-1.1,0-2,0.9-2,2s0.9,2,2,2h48c1.1,0,2-0.9,2-2S71.2,86,70,86z"></path>
  <path d="M22,60h27.1c1.1,0,1.9-0.9,1.9-2s-0.9-2-1.9-2H22c-1.1,0-1.9,0.9-1.9,2S20.9,60,22,60z"></path>
  <path d="M22,50h27.6c1.1,0,2-0.9,2-2s-0.9-2-2-2H22c-1.1,0-2,0.9-2,2S20.9,50,22,50z"></path>
  <path d="M22,40h32c1.1,0,2-0.9,2-2s-0.9-2-2-2H22c-1.1,0-2,0.9-2,2S20.9,40,22,40z"></path>
  <path d="M98.1,70L87.9,59.9c1-2.1,1.5-4.5,1.5-7c0-6.7-3.8-12.4-9.4-15.2v-8.5c0-0.2,0-0.3-0.1-0.5
  c0.1-0.3,0.1-0.5,0-0.8c0-0.5-0.2-0.9-0.6-1.2L65.5,12.7l-0.1-0.1c0,0,0,0,0,0l0,0c0,0,0,0,0,0c-0.1-0.1-0.3-0.2-0.4-0.3
  c0,0-0.1,0-0.1-0.1c-0.2-0.1-0.3-0.1-0.5-0.2c0,0,0,0,0,0c-0.1,0-0.3,0-0.4,0h-5.3L47.4,0.6c0,0,0,0,0,0c-0.1-0.1-0.2-0.2-0.3-0.2
  c0,0,0,0-0.1,0c-0.1-0.1-0.2-0.1-0.3-0.1c0,0-0.1,0-0.1,0c-0.1,0-0.2-0.1-0.3-0.1c-0.1,0-0.3,0-0.4,0H6C2.7,0,0,2.7,0,6v76.1
  c0,3.3,2.7,6,6,6h6v6c0,3.3,2.7,6,6,6h56c3.3,0,6-2.7,6-6V68.3l9.9,9.9c1.1,1.1,2.5,1.7,4.1,1.7s3-0.6,4.1-1.7
  C100.3,75.9,100.3,72.3,98.1,70z M85.4,52.9c0,7.2-5.9,13.1-13.1,13.1s-13.1-5.9-13.1-13.1s5.9-13.1,13.1-13.1S85.4,45.7,85.4,52.9z
  M66,18.9l7.1,7.1H68c-1.1,0-2-0.9-2-2V18.9z M48,6.9l5.1,5.1H48V6.9z M6,84.1c-1.1,0-2-0.9-2-2V6c0-1.1,0.9-2,2-2h38v8H18
  c-3.3,0-6,2.7-6,6v66.1H6z M74,96.1H18c-1.1,0-2-0.9-2-2V18c0-1.1,0.9-2,2-2h27.3c0.2,0.1,0.4,0.1,0.6,0.1s0.4,0,0.6-0.1h10.8
  c0.4,0.1,0.8,0.1,1.2,0H62v8c0,3.3,2.7,6,6,6h8v6.2c-1.2-0.3-2.4-0.4-3.7-0.4c-9.4,0-17.1,7.7-17.1,17.1c0,9.4,7.7,17.1,17.1,17.1
  c1.3,0,2.5-0.2,3.7-0.4v24.5C76,95.2,75.2,96.1,74,96.1z M95.3,75.4c-0.7,0.7-1.8,0.7-2.5,0L83.3,66c0.9-0.8,1.7-1.6,2.5-2.6
  l9.5,9.5C96,73.5,96,74.7,95.3,75.4z"></path>
</svg>

            </i>
            Docs Knowledge Base
          </h3>
							<p class="tx-20-force">Lorem ipsum dolor sit amet, nec cu viris eirmod epicuri, denique commune efficiantur ut est. Cu vidit choro aliquam cum, his suas ipsum minimum ne. Nec ei quot dicit iracundia, qui repudiare posidonium scribentur in. Homero peric</p>
						</div>
						<!-- /.o-col -->
						<div class="col-md-5">
									<img src="/static/images/new-home-2095489_960_720.jpg" alt="Help Scout Plus plan - Docs" width="100%">
						</div>
						<!-- /.o-col -->
					</div>
					<!-- /.o-row -->
				</div>
				<!-- /.o-container -->
			</section>
			<!-- / Docs -->

			<!-- HubSpot -->
			<!-- Pricing -->
			<section class="bg-purple pd-y-40">
				<div class="container">
					<div class="row">
						<div class="col-md-10 m-auto">
							<h3 class="tx-white mg-b-16">Get more done with&nbsp;Plus</h3>
							<p class="tx-white mg-b-32 tx-20-force">Et per iudico facilisi iudicabit. Vis ea sumo dicta, alii dicta quaerendum duo cu. Consul elaboraret mei eu.</p>
						</div>
					</div>
					<!-- /.o-row -->
          <div class="row">
							<div class="col-md-10 m-auto tx-center">
                <a href="javascript:;" class="btn btn-light">Talk to Sales</a>
								<a href="javascript:;" class="btn btn-light">or Sign up for a Demo</a>
							</div>
						<!-- /.o-col -->
					</div>
					<!-- /.o-row -->
				</div>
				<!-- /.o-container -->
			</section>
			<!-- / Pricing -->
		</div>
		<!--features-->
	</v-layout>
</template>

<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
  <script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'home-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
