<template>
	<transition name="modal">
		<div class="modal-mask" v-show="show">
			<div class="modal-wrapper">
				<!--div class="modal-container wd-950" role="document" @click.stop-->
				<div class="modal-container wd-950" role="document">
					<div class="modal-content">
						<div class="modal-header pd-y-20 pd-x-25">
							<h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Price package buying proposal</h6>
							<button type="button" class="close"> <span @click="close" aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body pd-25" style="min-height:450px;">
							<div v-show="step === 3" class="container-lg clearfix p-responsive">
								<h3 class="mg-b-20">
      Transaction Summary
    </h3>
								<div class="clearfix">
									<!-- '"` -->
									<!-- </textarea></xmp> -->
										<div class="col-md-6 pr-md-6 float-md-left mb-4 mb-md-0">
											<div class="pos-relative overflow-hidden bg-white rounded shadow-base p-4 mb-3">
												<div class="pos-absolute t-0 l-0 wd-100p bg-primary pt-1"></div>
												<div class="tx-gray-600 text-small">{{ (packageDetail.type === 'for_sale') ? 'Buying proposal' : 'Renting proposal' }}</div>
												<h3 class="tx-normal mb-2">{{ packageDetail.name }}</h3>
												<p class="mb-3">We offer in the {{ packageDetail.name }} pack free CI/CD and free services {{ packageDetail.count }} properties.</p>
												<ul class="list-unstyled mb-4">
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>Unlimited public repositories</li>
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>Unlimited users</li>
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>4x parallel CI/CD jobs</li>
												</ul>
                        <div class="border border-right-0 border-left-0 pd-10 mb-2 d-flex flex-justify-between">
												<div class="d-flex"> <span class="f2 pr-2">$1</span>
													<span class="text-small text-gray-light -ultra d-block mt-2 mt-md-0">
                    / month
                  </span>
												</div>
											</div>
														<div class="" style="white-space:normal;">
															<p class="text-small ml-lg-3 mb-0 ">Next: Confirm your installation location.</p>
														</div>
											</div>
										</div>
										<div class="col-md-6 pl-md-6 float-left">
											<div class="clearfix">
												<!-- Row 1 -->
                <div class="shadow-base tx-center pd-y-20 pd-x-20">
									<font-awesome-icon class="tx-100 tx-success lh-1 d-inline-block" :icon="['far', 'check-circle']" />
                  <h4 class="tx-success mg-b-20">Congratulations!</h4>
                  <p class="mg-b-20 mg-x-20 tx-14">Your payment for the package -- has been successfull. you can find the details of the transaction in you paymen history</p>
                  <p class="tx-14"><span class="font-weight-bold">Transaction id</span> -- </p>
                  </div><!-- modal-body -->

				
											</div>
										</div>
								</div>
							</div>
							<div v-show="step === 2" class="container-lg">
								<h3 class="mg-b-20">Payment order</h3>
								<div class="clearfix">
									<div class="col-md-6 pr-md-6 float-md-left mb-4 mb-md-0">
										<div class="pos-relative overflow-hidden bg-white rounded shadow-base p-4 mb-3">
												<div class="pos-absolute t-0 l-0 wd-100p bg-primary pt-1"></div>
												<div class="tx-gray-600 text-small">{{ (packageDetail.type === 'for_sale') ? 'Buying proposal' : 'Renting proposal' }}</div>
												<h3 class="tx-normal mb-2">{{ packageDetail.name }}</h3>
												<p class="mb-3">We offer in the {{ packageDetail.name }} pack free CI/CD and free services {{ packageDetail.count }} properties.</p>
												<ul class="list-unstyled mb-4">
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>Unlimited public repositories</li>
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>Unlimited users</li>
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>4x parallel CI/CD jobs</li>
												</ul>
                        <div class="border border-right-0 border-left-0 pd-10 mb-2 d-flex flex-justify-between">
												<div class="d-flex"> <span class="f2 pr-2">$1</span>
													<span class="text-small text-gray-light -ultra d-block mt-2 mt-md-0">
                    / month
                  </span>
												</div>
											</div>
														<div class="" style="white-space:normal;">
															<p class="text-small ml-lg-3 mb-0 ">Next: Confirm your installation location.</p>
														</div>
											</div>
									</div>
									<div class="col-md-6 pl-md-6 float-md-left">
										<div class="">
											<div class="clearfix mb-2">
												<h4 class="float-left">Payment method</h4>
											</div>
											<div class="accordion accordion-head-colored accordion-primary">
												<div class="card">
													<div class="card-header">
														<h6 class="mg-b-0">
                  <a :class="{ 'collapsed transition' : activeCollapse === 'paypalmethod' }" @click="activeCollapse = 'stripemethod'" href="javascript:;">
                    Credit / Debit card
                  </a>
                </h6>
														<img class="ht-25 pos-absolute r-20 t-15" src="https://i.imgur.com/IHEKLgm.png" alt="">
													</div>
													<div :class="{ 'show' : activeCollapse === 'stripemethod' }" class="collapse">
														<div class="card-block pd-20">
															<card class='stripe-card' :class='{ complete }' stripe='pk_test_VP6JcEFsWgxdGwT4lnLRu7lY' :options='stripeOptions' @change='complete = $event.complete' />
															<button class='pay-with-stripe' id="pay-with-stripe" @click='pay' :disabled='!complete'>Pay with credit card</button>
														</div>
													</div>
												</div>
												<div class="card">
													<div class="card-header justify-content-between">
														<h6 class="mg-b-0">
                  <a :class="{ 'collapsed transition' : activeCollapse === 'stripemethod' }" @click="activeCollapse = 'paypalmethod'" href="javascript:;">
                    Paypal
                  </a>
                </h6>
														<img class="ht-15 pos-absolute r-20 t-15" src="https://i.imgur.com/ApBxkXU.png" alt="">
													</div>
													<div :class="{ 'show' : activeCollapse === 'paypalmethod' }" class="collapse">
														<div class="card-block pd-20">
															<div class="m-auto wd-250" id="pay-button"></div>
														</div>
													</div>
												</div>
											</div>
											<!-- accordion -->
											</div>
	<!--p class="mt-2 text-center text-small">Next: Authorize Renovate to access your account.</p-->
  <p class="text-small text-center tx-gray-600 mg-t-20 "><a href="javascript:;">terms</a>, <a href="javascript:;">privacy policy</a>, and <a href="javascript:;">support documentation</a>.</p>

									</div>
								</div>
							</div>
							<div v-show="step === 1" class="container-lg">
									<h3 class="mg-b-20">Pricing and setup</h3>
										<div class="col-md-6 float-md-left pd-6">
											<ul class="list-unstyled">
                        <li class="mg-b-10" @mouseover="showDetailPack(pack)" :key="pack.id" v-for="pack in packageProductList">
													<a href="javascript:;" @click="showNext(2)" :class="{ 'selected' : toindex === pack.id }" class="filter-item d-flex pd-2 p-md-3 mb-0 ">
														<div class="flex-auto">
															<h4 class="f3 d-inline-block">{{ pack.name }}
  </h4>
															<p class="text-small mb-0 pd-r-2">CI/CD with 2x parallelism for small teams.</p>
														</div>
														<div class="text-small text-right"> <span class="tx-20">${{ pack.price }}</span>
															<span class="d-block">/&nbsp;{{ pack.count }} properties</span>
														</div>
													</a>
												</li>
											</ul>
										</div>
										<div class="col-md-6 float-md-left pl-md-6">
											<div class="pos-relative overflow-hidden bg-white rounded shadow-base p-4 mb-3">
												<div class="pos-absolute t-0 l-0 wd-100p bg-primary pt-1"></div>
												<div class="tx-gray-600 text-small">{{ (packageDetail.type === 'for_sale') ? 'Buying proposal' : 'Renting proposal' }}</div>
												<h3 class="tx-normal mb-2">{{ packageDetail.name }}</h3>
												<p class="mb-3">We offer in the {{ packageDetail.name }} pack free CI/CD and free services {{ packageDetail.count }} properties.</p>
												<ul class="list-unstyled mb-4">
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>Unlimited public repositories</li>
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>Unlimited users</li>
													<li class="mb-1">
														<svg class="octicon octicon-check tx-success mr-2" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
															<path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12 5z"></path>
														</svg>4x parallel CI/CD jobs</li>
												</ul>
														<div class="mb-2 mb-lg-0">
															<button class="btn btn-success px-6 py-2 d-block d-md-inline-block text-center wd-100p">Buy Open source pack</button>
														</div>
														<div class="" style="white-space:normal;">
															<p class="text-small ml-lg-3 mb-0 ">Next: Confirm your installation location.</p>
														</div>
											</div>
											<p class="text-small text-center tx-gray-600 mg-x-40 "><a href="javascript:;">terms</a>, <a href="javascript:;">privacy policy</a>, and <a href="javascript:;">support documentation</a>.</p>
										</div>
								</div>
						</div>
						<!-- modal-body -->
						<div class="modal-footer">
							<button type="button" @click="close" class="btn btn-secondary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-semibold">Close</button>
						</div>
					</div>
				</div>
			</div>
			<!-- card-body -->
		</div>
	</transition>
</template>

<style>

.field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
}

.field::-webkit-input-placeholder { color: #CFD7E0; }
.field::-moz-placeholder { color: #CFD7E0; }

button.pay-with-stripe {
  float: left;
  display: block;
  background: #666EE8;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

button.pay-with-stripe:focus {
  background: #555ABF;
}

button.pay-with-stripe:active {
  background: #43458B;
}

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

.success, .error {
  display: none;
  font-size: 13px;
}

.success.visible, .error.visible {
  display: inline;
}

.error {
  color: #E4584C;
}

.success {
  color: #666EE8;
}

.success .token {
  font-weight: 500;
  font-size: 13px;
}


</style>


<script>
  /* ============
   * Home page
   * ============
   *
   * Home page of the entire web app.
   */
  import {style} from '@/config/index'
  import { Card, createToken } from 'vue-stripe-elements-plus'
  import paypal from 'paypal-checkout'

  export default {
    /**
     * The name of the page.
     */
    name: 'modal-proposition-payment',

    props: ['show'],

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        step: 1,
        toindex: null,
        activeCollapse: 'paypalmethod',
        packageProductList: [],
        packageDetail: {},
        model: {
          description: 'mob',
          token: '',
          packageProduct: 4,
          amount: 500
        },
        complete: false,
        state: null,
        stripeOptions: {
          style,
          hidePostalCode: true
          // see https://stripe.com/docs/stripe.js#element-options for details
        }
      }
    },

    created: function () {
      this.findPackageProduct()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      close: function () {
        this.$emit('close')
        this.step = 1
      },
      submitCard: function (payload) {
        document.getElementById('pay-with-stripe').classList.add('loading')
        this.$http.post('/api/payment/pay', this.model).then(response => {
          document.getElementById('pay-with-stripe').classList.remove('loading')
          // get status
          this.step = 3
        }, response => {
          document.getElementById('pay-with-stripe').classList.remove('loading')
          // get failed
          console.log(response)
        })
      },
      findPackageProduct: function (e) {
        this.$http.get('api/package/list', {params: {'t': 'for_sale'}}).then(response => {
          // get status
          this.packageProductList = response.data.content
          this.toindex = this.packageProductList[1].id
        }, response => {
          // get failed
          console.log(response)
        })
      },
      showDetailPack: function (payload) {
        this.toindex = payload.id
        this.packageDetail = payload
      },
      showNext: function (payload) {
        this.step = payload
      },
      pay () {
        // createToken returns a Promise which resolves in a result object with
        // either a token or an error key.
        // See https://stripe.com/docs/api#tokens for the token object.
        // See https://stripe.com/docs/api#errors for the error object.
        // More general https://stripe.com/docs/stripe.js#stripe-create-token.
        createToken().then(data => {
          this.model.token = data.token.id
          this.submitCard(this.model)
        }).catch(err => console.log(err))
      }
    },
    mounted: function () {
      document.addEventListener('keydown', (e) => {
        if (this.show && e.keyCode === 27) {
          this.close()
        }
      })
      paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
          label: 'checkout',
          size: 'medium', // small | medium | large | responsive
          shape: 'rect', // pill | rect
          color: 'gold' // gold | blue | silver | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
          sandbox: 'ASSljN1X2fhtOalonExcpolVsWmMWGVBI-NiTSiQpkksE02CFoenGaBlT13DRxlJxG03g5UuKTuScwpj',
          production: '<insert production client id>'
        },

        payment: function (data, actions) {
          // Make a call to your server to set up the payment
          let CREATE_URL = (process.env.NODE_ENV === 'development') ? '/server/api/payment/paypal' : '/api/payment/paypal'
          return paypal.request.post(CREATE_URL).then(res => {
            return res.message
          })
        },

        onAuthorize: function (data, actions) {
          // Set up a url on your server to execute the payment
          let EXECUTE_URL = (process.env.NODE_ENV === 'development') ? '/server/api/payment/charge' : '/api/payment/charge'
          // Make a call to your server to execute the payment
          return paypal.request.post(EXECUTE_URL, {
            paymentID: data.paymentID,
            payerID: data.payerID
          }).then(res => {
            console.log(res)
            this.step = 3
          }).catch(err => console.log(err))
        }

      }, '#pay-button')
    },
    components: {
      Card
    }
  }
</script>
