<template>
	<transition name="modal">
		<div class="modal-mask" v-show="show">
			<div class="modal-wrapper">
				<div class="modal-container wd-1000">
					<div class="modal-content">
						<div class="modal-header pd-y-20 pd-x-25">
							<h6 class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold">Make a proposition to property</h6>
							<button type="button" class="close"> <span @click="close" aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body pd-25" style="min-height:450px;">
							<div class="row">
                              <div class="col-md-6">
                                  <div class="media-list bg-white rounded border">
							<a href="/buy/1" v-for="proposal in 1" :key="proposal" class="media pd-20 pd-xs-20 border border-top-0 border-top-0 border-right-0 border-left-0 pos-relative">
								<!--img src="http://themepixels.me/bracketplus/img/img2.jpg" alt="" class="wd-40 rounded-circle"-->
								<div class="media-body">

									<!-- d-flex -->
									<div class="">
										<div class="header-info float-left wd-100p">
											<div class="not-interested-icon"> <span class="tx-12">{{proposal.type_of_proposal }}</span>
											</div>
											<div class="row tx-12 tx-gray-600 mg-y-15">
												<div class="col-md-3">
<span><img src="/static/images/svg/bed.svg" class="mg-r-5" width="20"></span>
													Bedroom: > {{proposal.bedrooms }}</div>
												<div class=" col-md-3">
<span><img src="/static/images/svg/toilet.svg" class="mg-r-5" width="20"></span>
													Bathroom: > {{proposal.bathrooms }}</div>
												<div class="col-md-3">
<span>
  <img v-if="proposal.is_urgent" src="/static/images/svg/alarm_on.svg" class="mg-r-5" width="20">
  <img v-if="!proposal.is_urgent" src="/static/images/svg/alarm_off.svg" class="mg-r-5" width="20">
</span>
													is urgent: {{proposal.is_urgent }}</div>
												<div class="col-md-3 tiptip" title="">
<span class="icon fontello-location"></span>
													<span><peity :type="'bar'" :data="'5,3,9,6,5,9,7,3,5,2'"></peity></span>
													Stats of views</div>
											</div>
											<div class="tx-gray-800 tx-13">
												<div class="collapsed-listing-row mg-b-8">
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Id of renting proposal</div>
													<div class="d-inline">{{proposal.id }}</div>
												</div>
												<div class="collapsed-listing-row mg-b-8">
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">PR Intern</div>
													<div class="d-inline">$30K – $40K · 0.001% – 0.01% ·</div>
												</div>
												<div class="collapsed-listing-row mg-b-8">
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Price</div>
													<div class="d-inline">${{proposal.price_minimum }} – ${{proposal.price_maximum }}</div>
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Size</div>
													<div class="d-inline">{{proposal.size }}</div>
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Category of property</div>
													<div class="d-inline">{{proposal.age_of_property }}</div>
												</div>
												<div class="collapsed-listing-row mg-b-8">
													<div class="tx-bold mg-r-10 tx-gray-900 d-inline">Type of property</div>
													<div class="d-inline">{{proposal.type_of_property }}</div>
												</div>
												<div class="collapsed-listing-row mg-b-8">
													<div class="collapsed-more">and 10 more</div>
												</div>
												<div class="cb"></div>
											</div>
										</div>
                    <div class="header-info float-left wd-100p">
											<!--button @click="showInterest">propose property</button-->
                    </div>
									</div>
								</div>
								<!-- media-body -->
							</a>
							<!-- media -->
						</div>
                              </div>

                              <div class="col-md-6">
                                <div class="row">
                                    <div class="wd-100p ht-450 overflow-y-auto row">
                                    <div v-for="property in list.content" :key="property.id" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <a href="javascrip:;" class="card">
                        <div class="figure">
                                                            <div class="featured-label">
                                    <div class="featured-label-left"></div>
                                    <div class="featured-label-content"><font-awesome-icon class="tx-14" icon="star" /></div>
                                    <div class="featured-label-right"></div>
                                    <div class="clearfix"></div>
                                </div>
                                                        <!--div class="img" style="background-image:url(http://mariusn.com/themes/reales-wp/wp-content/uploads/2014/12/bg-5-1024x576-600x400.jpg);"></div-->
                            <div class="figCaption">
                                                                <div>${{ property.price }}</div>
                                                                <span><font-awesome-icon icon="arrows-alt" /> {{ property.size }} </span>
                                                                <span><font-awesome-icon icon="bed" /> {{ property.bedrooms }}</span>
                                <span><font-awesome-icon icon="bath" /> {{ property.bathrooms }}</span>
                            </div>
                            
                                                            <div class="figType">{{ property.sale_type }}</div>
                                                    </div>
                        <h2>{{ property.type }}</h2>
                        <div class="cardAddress">
                            {{ property.location.address }} {{ ',' + property.location.city.name }}<br>{{ ',' + property.location.province.name }} {{ ',' + property.location.postal_code }} {{ ',' + property.location.country.name }}                        </div>

                        <div class="clearfix"></div>
                    </a>
                </div>
                </div>
                                </div>
                              </div>
                            </div>
						</div>
						<div class="modal-footer">
							<button type="button" @click="close" class="btn btn-primary tx-11 tx-uppercase pd-y-12 pd-x-25 tx-mont tx-semibold">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script>
/* ============
* Home page
* ============
*
* Home page of the entire web app.
*/

export default {
/**
* The name of the page.
*/
  name: 'modalrefinesearch',
  props: ['show'],
  /**
  * The data that can be used by the page.
  *
  * @returns {Object} The view-model data.
  */
  data () {
    return {
      properties: {},
      selected: [],
      list: {
        count: null,
        variable: null,
        content: []
      }
    }
  },
  /**
   * The methods the page can use.
   */
  methods: {
  /**
   * Will log the user in.
   *
   * @param {Object} user The user to be logged in.
   */
    close: function () {
      this.$emit('close')
      this.list = {count: null, variable: null, content: []}
    },
    findProperties: function (e) {
      this.isLoading = true
      // let proposalType = this.$store.state.form.globalObject.typeOfProposal
      let proposalType = 'for_rent'
      this.$http.get('/api/properties/list', {params: {saleType: proposalType}}).then(response => {
        // get status
        this.isLoading = false
        this.list.count = response.data.count
        this.list.content = this.list.content.concat(response.data.content)
      }, response => {
        // get failed
        console.log(response)
      })
    },
    submitThisProperty: function (payload) {
      this.selected.push(payload)
    }
  },
  mounted: function () {
    this.$root.$on('find-properties', this.findProperties)
    document.addEventListener('keydown', (e) => {
      if (this.show && e.keyCode === 27) {
        this.close()
      }
    })
  }
}
</script>
