<template>
	<v-layout context="dashboard">
		<div id="hero-image" class="stackItem hero-image">
			<div class="nav-secondary"></div>
			<div id="mainPhoto" class="hero-image__content">
				<div class="hero-image__new-icon"></div>
				<div class="hero-image__image-wrapper"></div>
				<div class="media-type-bar">
					<a href="#" class="media-type-bar__media">
						<span class="rui-icon rui-icon-camera-small"></span>
						<span class="media-type-bar__count">11</span>
					</a>
				</div>
			</div>
		</div>
		<div class="proposal_show">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="entry-header pd-t-30-force">
			        <div class="row">
			          <div class="col-md-6">
			            <div class="mg-b-15">
			              <h1>
			                <span class="d-block tx-24">{{ property.address }}</span>
			                <span class="tx-20">{{ property.country }}</span>
			                <span class="tx-20">{{ property.province }}</span>
											<span class="tx-20">{{ property.city }}</span>
			                <span class="tx-20">{{ property.postalCode }}</span>
			              </h1>
			            </div>
			            <div class="mg-b-6">
			              <ul class="list-unstyled">
			                <li>
			                  <dl class="d-inline-block">
			                    <dt class="mg-r-5 d-inline-block mg-0"><span>Bedrooms</span></dt>
			                    <dd class="mg-r-15-force d-inline-block mg-0">{{ property.bedrooms }}</dd>
			                    <dt class="mg-r-5 d-inline-block mg-0"><span>Bathrooms</span></dt>
			                    <dd class="mg-r-15-force d-inline-block mg-0">{{ property.bathrooms }}</dd>
			                  </dl> <span>{{ property.type }}</span>
			                </li>
			                <li>
			                  <p>${{ property.price }}</p>
			                </li>
			              </ul>
			            </div>
			            <div>
			              <div><strong>Date Available:</strong>  <span>Wed 04-Apr-18</span></div>
			            </div>
			          </div>
			          <div class="col-md-6">
			            <div>
			              <ul class="tx-right wd-250 pos-absolute r-10 list-unstyled">
			                <!--li class="mg-b-15 pd-l-100">
			                  <button class="btn btn-primary"><i class="fa fa-send mg-r-10"></i> Save</button>
			                </li-->
			                <!--li class="mg-r-10 d-inline-block">
			                  <a href="#"><span>Email</span></a>
			                </li-->
			                <!--li class="mg-r-10 d-inline-block"><a href="#">Print</a></li>
			                <li class="mg-r-10 d-inline-block"><a href="#">Page Visits</a>
			                </li-->
			                <!--li class="mg-t-15 links"><a href="#_">Reverse Rent Calculator</a>
			                </li-->
			                <!--li class="mg-r-10 d-inline-block">fewfwe
			                  <div id='facebookLike'>
			                    <div share="false"></div>
			                  </div>
			                </li-->
			                <li class="mg-r-10 d-inline-block">
												<a href="http://twitter.com/home/?status=Check+out+this+Apartment+on+realestate.com.au%3a+https%3a%2f%2fwww.realestate.com.au%2f423312702" rel="nofollow" class="repname_share repkey_423312702" data-site="twitter" data-krux-event='twitter' target="_blank">
													<i class="rui-icon rui-icon-twitter"></i>
													<span>Tweet</span>
												</a>
			                </li>
			              </ul>
			            </div>
			          </div>
			          <div class="col-md-12">
			          <div class="sticky-container">
			            <div class="clearfix navigation-container">
			              <nav class="inner-nav mw">
			                <li>
												<router-link  :to="{ name: 'property.show.overview' }" class="nav-link overview-link" exact>Overview</router-link>
			                </li>
			                <li>
												<router-link  :to="{ name: 'property.show.propositions' }" class="nav-link overview-link" exact>Propositions</router-link>
			                </li>
			                <li><router-link  :to="{ name: 'property.show.statistics' }" class="nav-link overview-link" exact>Statistics</router-link>
			                </li>
			                <li><router-link  :to="{ name: 'property.show.settings' }" class="nav-link overview-link" exact>Settings</router-link>
			                </li>
			              </nav>
			            </div>
			          </div>
			        </div>
			        </div>
						</div>
						<!-- .entry-header -->
						<!-- debut -->


	<router-view />
					</div>
					<!-- / .column-1 -->
					<div class="col-md-4 column-sidebar">
						<div>
							<div class="card shadow-base widget-7">
								<div class="tx-center">
									<a href="">
										<img src="https://robohash.org/utcumconsectetur.bmp?size=50x50&amp;set=set1" alt="" class="wd-100 rounded-circle">
									</a>
									<h4 class="tx-normal tx-inverse tx-roboto mg-t-20 mg-b-2">Rochell Sindall</h4>
									<p class="mg-b-20">kcapewell99@nasa.gov</p>
									<p class="mg-b-25 tx-20"><a href="" class="tx-primary mg-r-5"><i class="fa fa-facebook-official"></i></a>  <a href="" class="tx-info mg-r-5"><i class="fa fa-twitter"></i></a>  <a href="" class="tx-danger"><i class="fa fa-pinterest"></i></a>
									</p>
									<p class="mg-b-0"><a href="javascript:;" class="btn btn-info pd-x-50">Contact</a>
									</p>
								</div>
							</div>
							<div class="card shadow-base bd-0">
								<div class="card-header bg-transparent d-flex justify-content-between align-items-center">
									<h3 class="widget_sidebar_title">
					          Special Deals &amp; Coupons         </h3>
								</div>
								<div class="card bd-0 rounded-0 tx-center tx-size-sm">
									<div class="card-body pd-30">
										<div class="row align-items-center justify-content-center tx-center">
											<div class="c-project__team">
												<a aria-label="Joseph Mullins" href="#" class="c-project__profile c-tooltip c-tooltip--top">
													<img src="https://zawiastudio.com/dashboard/demo/img/avatar1-72.jpg" alt="Adam's Face">
												</a>
												<a aria-label="Stella Munoz" href="#" class="c-project__profile c-tooltip c-tooltip--top">
													<img src="https://zawiastudio.com/dashboard/demo/img/avatar2-72.jpg" alt="Adam's Face">
												</a>
												<a aria-label="Una Higgins" href="#" class="c-project__profile c-tooltip c-tooltip--top">
													<img src="https://zawiastudio.com/dashboard/demo/img/avatar3-72.jpg" alt="Adam's Face">
												</a>
												<a aria-label="Dylan Shelton" href="#" class="c-project__profile c-tooltip c-tooltip--top">
													<img src="https://zawiastudio.com/dashboard/demo/img/avatar4-72.jpg" alt="Adam's Face">
												</a> <a aria-label="Add a new member" href="#" class="c-project__profile c-project__profile--btn c-tooltip c-tooltip--top"><i class="fa fa-plus"></i></a>
											</div>
										</div>
										<p class="mg-b-0">Unicorn Rider, Drunkin Master</p>
									</div>
									<div class="card-footer pd-0">
										<div class="row no-gutters tx-center">
											<div class="col-6 pd-y-20">
												<h4 class="mg-b-2 tx-semibold tx-arimo"><a href="" class="tx-gray-dark">449k</a></h4>  <small class="tx-uppercase tx-semibold tx-size-xs">Followers</small>
											</div>
											<div class="col-6 pd-y-20 bd-l">
												<h4 class="mg-b-2 tx-semibold tx-arimo"><a href="" class="tx-gray-dark">449k</a></h4>  <small class="tx-uppercase tx-semibold tx-size-xs">Following</small>
											</div>
										</div>
										<div class="pd-20 bd-t"><a href="javascript:;" title="Make a proposition" class="btn btn-outline-primary">Make proposition</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- / .column-2 -->
				</div>
			</div>
		</div>


</div>
</body>
</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'
  import transformer from '@/transformers/PropertyTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'propertyshow',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    created: function () {
      this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/property', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
        /* this.$http.get(`/api/property/${this.$route.params.id}`).then(response => {
          // get status
          this.content = response.data.content
        }, response => {
          // get failed
          console.log(response)
        }) */
      }
    },

    computed: {
      property: function () {
        return this.$store.state.global.object
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
