<template>
	<v-layout>
		<div class="mg-t-0 mg-b-0 pd-70 tx-center bg-black-9 pos-relative">
			<div class="ht-100p op-6 pos-absolute wd-100p tx-center t-0 l-0 background-size-cover background-center-no-repeat" style="background-image: url('https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/09/featured-add-listing.jpg')"></div>
			<div class="pos-relative">
				<h1 class="tx-white tx-64">Social media &#038; Blogs</h1>
				<ul class="category-list">
					<li class="tx-white d-inline-block">Community</li>
					<li class="tx-white d-inline-block">Culture</li>
					<li class="tx-white d-inline-block">Entertainment</li>
					<li class="tx-white d-inline-block">Travelling</li>
				</ul>
			</div>
		</div>
		<div class="bg-primary pd-y-30">
			<div class="container">
				<h1 class="tx-white tx-center">Powerful, Highly Customizable UI Framework</h1>
			</div>
		</div>
		<section class="bg-white">
			<div class="container">
				<div class="row pd-y-0 pd-x-30">
					<div class="col-lg-8 ">
              <h3>Visit the bars</h3>
              <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it or discover that new diversion your youngsters perpetually cite. extravagant the likelihood to like careless, faultless, fun.</p>
              <div class='gallery galleryid-359 gallery-columns-2 gallery-size-full'>
                <figure class='gallery-item'>
                  <div class='gallery-icon landscape'>
                    <a href='https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5.jpg'>
                      <img width="1600" height="1067" src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5.jpg" class="attachment-full size-full" alt="" srcset="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5.jpg 1600w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5-600x400.jpg 600w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5-1200x800.jpg 1200w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5-450x300.jpg 450w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5-800x534.jpg 800w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5-900x600.jpg 900w" sizes="(max-width: 1600px) 100vw, 1600px" data-attachment-id="360" data-permalink="https://demos.pixelgrade.com/listable/entertainment/local-bands-that-you-should-listen/attachment/deathtostock_band5/" data-orig-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5.jpg" data-orig-size="1600,1067" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="DeathtoStock_Band5" data-image-description="" data-medium-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5-600x400.jpg" data-large-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band5-1200x800.jpg" />
                    </a>
                  </div>
                </figure>
                <figure class='gallery-item'>
                  <div class='gallery-icon landscape'>
                    <a href='https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10.jpg'>
                      <img width="1600" height="1067" src="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10.jpg" class="attachment-full size-full" alt="" srcset="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10.jpg 1600w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10-600x400.jpg 600w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10-1200x800.jpg 1200w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10-450x300.jpg 450w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10-800x534.jpg 800w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10-900x600.jpg 900w" sizes="(max-width: 1600px) 100vw, 1600px" data-attachment-id="361" data-permalink="https://demos.pixelgrade.com/listable/entertainment/local-bands-that-you-should-listen/attachment/deathtostock_band10/" data-orig-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10.jpg" data-orig-size="1600,1067" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;1.4&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;Canon EOS 5D Mark III&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1393184732&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;50&quot;,&quot;iso&quot;:&quot;2000&quot;,&quot;shutter_speed&quot;:&quot;0.005&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="DeathtoStock_Band10" data-image-description="" data-medium-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10-600x400.jpg" data-large-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band10-1200x800.jpg" />
                    </a>
                  </div>
                </figure>
              </div>
              <p>Testing maybe a couple of different wines ANd requesting a tidbit is likewise an appreciated break. figuring on the landing strip, you&#8217;ll prepared to notice a fabulous spot to possess a glass of wine and a couple of scrumptious snacks.</p>
              <p>Everything from dish to truffled waterproof and cheddar. With a waste of time investigation, you&#8217;ll have the capacity to locate a dynamic bar or a tranquil table to unwind though holding up. take a gander at the FlyInStyle application from iTunes.</p>
              <p><span class="alignnone"><img data-attachment-id="362" data-permalink="https://demos.pixelgrade.com/listable/entertainment/local-bands-that-you-should-listen/attachment/deathtostock_band4/" data-orig-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4.jpg" data-orig-size="1600,1067" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="DeathtoStock_Band4" data-image-description="" data-medium-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4-600x400.jpg" data-large-file="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4-1200x800.jpg" class="alignnone size-full wp-image-362" src="https://demos.pixelgrade.com/listable/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4.jpg" alt="DeathtoStock_Band4" width="1600" height="1067" srcset="https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4.jpg 1600w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4-600x400.jpg 600w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4-1200x800.jpg 1200w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4-450x300.jpg 450w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4-800x534.jpg 800w, https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/10/DeathtoStock_Band4-900x600.jpg 900w" sizes="(max-width: 1600px) 100vw, 1600px" /></span>
              </p>
              <p>On the off chance that you have an escalated stop, mull over a short taking a gander at outing. This especially is shrewd in urban areas with brilliant open transportation decisions.</p>
              <p>The quantity of popular non mainstream groups and specialists as of now living in London can be really overpowering. James Mercer, Carrie Brownstein, Colin Meloy—the rundown continues endlessly.</p>
              <p>The quantity of popular non mainstream groups and specialists as of now living in London can be really overpowering. James Mercer, Carrie Brownstein, Colin Meloy—the rundown continues endlessly.</p>
              <p>The quantity of popular non mainstream groups and specialists as of now living in London can be really overpowering. James Mercer, Carrie Brownstein, Colin Meloy—the rundown continues endlessly.</p>
              <p>With a waste of time investigation, you&#8217;ll have the capacity to locate a dynamic bar or a tranquil table to unwind though holding up. Grant numerous opportunity to urge back through security, and keep mind that your voyage may value you prior flight chances to your destination. inside of the universe of standby travel, you need to be blessing to win.</p> <span class="tags-links"><a href="https://demos.pixelgrade.com/listable/tag/city/" rel="tag">city</a><a href="https://demos.pixelgrade.com/listable/tag/london/" rel="tag">london</a><a href="https://demos.pixelgrade.com/listable/tag/music/" rel="tag">music</a><a href="https://demos.pixelgrade.com/listable/tag/urban/" rel="tag">urban</a></span>
              <div class="sharedaddy sd-sharing-enabled">
                <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                  <h3 class="sd-title">Share this:</h3>
                  <div class="sd-content">
                    <ul>
                      <li class="share-twitter"><a rel="nofollow" data-shared="sharing-twitter-359" class="share-twitter sd-button share-icon" href="https://demos.pixelgrade.com/listable/entertainment/local-bands-that-you-should-listen/?share=twitter" target="_blank" title="Click to share on Twitter"><span>Twitter</span></a>
                      </li>
                      <li class="share-facebook"><a rel="nofollow" data-shared="sharing-facebook-359" class="share-facebook sd-button share-icon" href="https://demos.pixelgrade.com/listable/entertainment/local-bands-that-you-should-listen/?share=facebook" target="_blank" title="Click to share on Facebook"><span>Facebook</span></a>
                      </li>
                      <li class="share-google-plus-1"><a rel="nofollow" data-shared="sharing-google-359" class="share-google-plus-1 sd-button share-icon" href="https://demos.pixelgrade.com/listable/entertainment/local-bands-that-you-should-listen/?share=google-plus-1" target="_blank" title="Click to share on Google+"><span>Google</span></a>
                      </li>
                      <li class="share-end"></li>
                    </ul>
                  </div>
                </div>
              </div>
              <aside>
                <nav class="navigation post-navigation" role="navigation">
                  <h2 class="screen-reader-text">Post navigation</h2>
                  <div class="nav-links">
                    <div class="nav-next"><a href="https://demos.pixelgrade.com/listable/community/get-to-know-your-neighbors-tips-tricks/" rel="next">Get to Know Your Neighbors</a>
                    </div>
                  </div>
                </nav>
              </aside>
					</div>
					<div class="col-lg-4">
						<div class="pd-20 bd pd-b-20 pd-t-20 rounded-top rounded-bottom mg-b-25">
							<h3 class="tx-16 tx-bold tx-black mg-b-15">
                    			Latest Posts		</h3>
              <div v-for="increment in 3" :key="increment" class="pd-l-10 mg-b-30">
                <h2 class="tx-18"><a class="tx-gray-600" href="/blog/1">Title for decoration n'{{ increment }}</a></h2>
                <span class="">
                  <a href="/blog/1">
                    <time datetime="2015-10-20T12:25:49+00:00">October 20, 2015</time>
                  </a>
                </span>
              </div>
							<!-- .grid.list -->
							<div class="mg-t-20 tx-center">
								<div class="">
                  <a class="d-block pos-relative bd rounded pd-y-6 pd-x-13" href="javascript:;">View All <i class="icon ion-power"></i></a>
								</div>
							</div>
						</div>
						<div class="pd-20 bd pd-b-20 pd-t-20 rounded-top rounded-bottom mg-b-25">
							<h3 class="tx-16 tx-bold tx-black">Follow us</h3>
							<div class="menu-social-menu-container">
                <p class="mg-b-0 tx-24 tx-center">
                  <a href="javascript:;" class="tx-primary mg-r-5"><i class="fa fa-facebook-official"></i></a>
                  <a href="javascript:;" class="tx-info mg-r-5"><i class="fa fa-twitter"></i></a>
                  <a href="javascript:;" class="tx-danger mg-r-5"><i class="fa fa-pinterest"></i></a>
                  <a href="javascript:;" class="tx-danger"><i class="fa fa-instagram"></i></a>
                </p>
							</div>
						</div>
						<div class="pd-20 bd pd-b-20 pd-t-20 rounded-top rounded-bottom mg-b-25">
							<h3 class="tx-16 tx-bold tx-black">
                    				What are you interested in?					<span class="tx-16 tx-black tx-normal d-block lh-5">
                    						Explore some of the best tips from around the city from our partners and friends.					</span>
                    							</h3>
							<div class="">
								<ul class="d-flex mg-l--15 mg-b--15 pd-0 flex-wrap categories--widget">
									<li class="wd-50p pd-b-15 pd-l-15 flex-column">
										<div class="overflow-hidden d-flex background-size-cover rounded" style="flex-grow: 1; background-image: url(https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/11/home-cards-stay-450x539.jpg)">
											<a class="pd-t-25 pd-r-25 pd-b-6 pd-l-25" href="javascript:;">
												<div class="tx-white tx-center ht-90 wd-90 bd-3 bd-white bd rounded-50 d-flex pos-relative align-items-center justify-content-lg-center">
													<svg class="mx-wd-60p mx-ht-60p" width="26" height="24" viewBox="0 0 26 24" xmlns="http://www.w3.org/2000/svg">
														<g transform="translate(-11 -12)" fill="none" fill-rule="evenodd">
															<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"></circle>
															<g fill="currentColor">
																<path d="M28 36h-7v-5h-3v5h-7V12h17v24zm-6-1h5V13H12v22h5v-5h5v5z"></path>
																<path d="M18.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM25.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM34.5 27.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM34.5 33.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM18.5 20.5h-5v-5h5v5zm-4-1h3v-3h-3v3zM25.5 20.5h-5v-5h5v5zm-4-1h3v-3h-3v3z"></path>
																<path d="M37 36H27V20h10v16zm-9-1h8V21h-8v14z"></path>
															</g>
														</g>
													</svg>
												</div>	<span class="mg-t-15 pd-0 tx-white tx-24">Stay</span>
											</a>
										</div>
									</li>
									<li class="wd-50p pd-b-15 pd-l-15 flex-column">
										<div class="overflow-hidden d-flex background-size-cover rounded" style="flex-grow: 1; background-image: url(https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/11/home-cards-eat-450x436.jpg)">
											<a class="pd-t-25 pd-r-25 pd-b-6 pd-l-25" href="javascript:;">
												<div class="tx-white tx-center ht-90 wd-90 bd-3 bd-white bd rounded-50 d-flex pos-relative align-items-center justify-content-lg-center">
													<svg class="mx-wd-60p mx-ht-60p" width="24" height="26" viewBox="0 0 24 26" xmlns="http://www.w3.org/2000/svg">
														<g transform="translate(-12 -11)" fill="none" fill-rule="evenodd">
															<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"></circle>
															<g fill="currentColor">
																<path d="M18.372 36.737h-.036c-1.278 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-3.367 2.39-6.106 5.325-6.106 2.938 0 5.325 2.74 5.325 6.106 0 1.833-.71 3.552-1.946 4.715-.672.634-1.043 1.442-1.043 2.278v10.17c0 1.282-1.04 2.322-2.318 2.322zm-.02-24.55c-2.363 0-4.285 2.273-4.285 5.065 0 1.547.59 2.99 1.617 3.96.884.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.28-.575 1.28-1.28V24.244c0-1.126.487-2.202 1.37-3.034 1.03-.968 1.62-2.41 1.62-3.958.002-2.794-1.922-5.066-4.287-5.066zM29.983 36.737h-.036c-1.28 0-2.32-1.04-2.32-2.32V24.244c0-.836-.37-1.644-1.04-2.278-1.237-1.163-1.946-2.882-1.946-4.715 0-1.406 0-3.155 1.094-4.374.21-.23.49-.357.797-.357.582 0 1.056.46 1.077 1.033l.448 3.343c.01.072.127.053.133-.002l.46-4.1c.015-.487.364-.91.843-1.017.04-.007.075-.013.113-.013h.728c.04 0 .077.004.113.013.478.106.828.53.843 1.016l.46 4.1c.01.075.125.056.132.003l.45-3.343c.02-.572.495-1.032 1.075-1.032.307 0 .588.127.796.358 1.093 1.22 1.093 2.968 1.093 4.374 0 1.833-.71 3.552-1.945 4.715-.67.634-1.042 1.444-1.042 2.278v10.17c-.002 1.282-1.042 2.322-2.323 2.322zm-3.865-23.512l.386.347c-.766.854-.826 2.118-.826 3.68 0 1.547.59 2.99 1.617 3.96.883.83 1.37 1.907 1.37 3.033v10.17c0 .707.575 1.282 1.28 1.282h.036c.706 0 1.282-.575 1.282-1.28V24.244c0-1.126.486-2.202 1.37-3.034 1.028-.968 1.617-2.41 1.617-3.958 0-1.562-.062-2.826-.828-3.68 0 .023-.062.067-.066.09l-.452 3.372c-.072.545-.542.956-1.092.956-.57 0-1.042-.42-1.105-.978l-.46-4.126c-.003-.02-.005-.038-.005-.06l.004-.02h-.533c-.008.023-.03.063-.03.08l-.462 4.126c-.062.557-.533.978-1.095.978-.56 0-1.03-.41-1.1-.956l-.453-3.373c-.003-.02-.003-.044-.003-.067l-.452-.368z"></path>
																<path d="M18.397 21.105c-1.72 0-3.118-1.67-3.118-3.723 0-2.054 1.397-3.724 3.117-3.724.216 0 .39.174.39.39 0 .215-.174.39-.39.39-1.29 0-2.338 1.32-2.338 2.944 0 1.623 1.046 2.944 2.337 2.944.216 0 .39.174.39.39 0 .215-.174.39-.39.39z"></path>
															</g>
														</g>
													</svg>
												</div>	<span class="mg-t-15 pd-0 tx-white tx-24">Eat &amp; Drink</span>
											</a>
										</div>
									</li>
									<li class="wd-50p pd-b-15 pd-l-15 flex-column">
										<div class="overflow-hidden d-flex background-size-cover rounded" style="flex-grow: 1; background-image: url(https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/11/home-cards-visit-450x436.jpg)">
											<a class="pd-t-25 pd-r-25 pd-b-6 pd-l-25" href="javascript:;">
												<div class="tx-white tx-center ht-90 wd-90 bd-3 bd-white bd rounded-50 d-flex pos-relative align-items-center justify-content-lg-center">
													<svg class="mx-wd-60p mx-ht-60p" width="27" height="24" viewBox="0 0 27 24" xmlns="http://www.w3.org/2000/svg">
														<g transform="translate(-10 -11)" fill="none" fill-rule="evenodd">
															<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"></circle>
															<path d="M36.25 34.59H10.584c-.323 0-.584-.263-.584-.585 0-.322.26-.583.584-.583H36.25c.322 0 .584.26.584.583 0 .322-.262.584-.584.584zm-17.5-5.835c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-4.666c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h.583v-7.583h-.583c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h4.666c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-.583v7.583h.583zM17 21.172h-1.166v7.583H17v-7.583zm8.75 7.583c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-4.666c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h.583v-7.583h-.583c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h4.666c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-.583v7.583h.583zM24 21.172h-1.166v7.583H24v-7.583zm11.084 10.5c0 .322-.26.583-.584.583H12.333c-.322 0-.583-.26-.583-.583 0-.322.26-.583.583-.583H34.5c.323 0 .584.26.584.582zm-2.334-2.917c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-4.666c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h.583v-7.583h-.583c-.323 0-.584-.26-.584-.583 0-.324.26-.585.584-.585h4.666c.322 0 .583.26.583.584 0 .32-.26.582-.583.582h-.583v7.583h.583zM31 21.172h-1.166v7.583H31v-7.583zm-19.833-3.5L23.417 11l12.25 6.672v1.167h-24.5V17.67zm21.898 0l-9.648-4.99-9.686 4.99h19.335z" fill="currentColor"></path>
														</g>
													</svg>
												</div>	<span class="mg-t-15 pd-0 tx-white tx-24">Visit</span>
											</a>
										</div>
									</li>
									<li class="wd-50p pd-b-15 pd-l-15 flex-column">
										<div class="overflow-hidden d-flex background-size-cover rounded" style="flex-grow: 1; background-image: url(https://cdn.demos.pixelgrade.com/wp-content/uploads/sites/17/2015/11/home-cards-shop-450x436.jpg)">
											<a class="pd-t-25 pd-r-25 pd-b-6 pd-l-25" href="javascript:;">
												<div class="tx-white tx-center ht-90 wd-90 bd-3 bd-white bd rounded-50 d-flex pos-relative align-items-center justify-content-lg-center">
													<svg class="mx-wd-60p mx-ht-60p" width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg">
														<g transform="translate(-14 -12)" fill="none" fill-rule="evenodd">
															<circle stroke="currentColor" stroke-width="2" cx="24" cy="24" r="24"></circle>
															<path d="M33.333 19.065h-4V17.03c0-2.602-2.18-5.03-4.766-5.03C21.98 12 20 14.428 20 17.03v2.035h-4l-2 14.912h22l-2.667-14.912zm-12-2.033c0-1.998 1.248-3.462 3.234-3.462 1.985 0 3.433 1.464 3.433 3.462v2.033h-6.667v-2.033zm-4 3.388H20v.68c-.36.233-.6.64-.6 1.104 0 .722.58 1.308 1.292 1.308.714 0 1.292-.586 1.292-1.308 0-.486-.262-.91-.65-1.135v-.65H28v.91c-.206.23-.333.537-.333.874 0 .722.578 1.308 1.292 1.308.712 0 1.29-.586 1.29-1.308 0-.59-.386-1.09-.916-1.252v-.532H32l2 12.2H16l1.334-12.2z" fill="currentColor"></path>
														</g>
													</svg>
												</div>	<span class="mg-t-15 pd-0 tx-white tx-24">Shop</span>
											</a>
										</div>
									</li>
								</ul>
								<!-- .categories -->
							</div>
							<!-- .categories-wrap -->
						</div>
					</div>
				</div>
			</div>
		</section>
	</v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '../layouts/Default.vue'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
        },
        isLoading: false,
        cities: []
      }
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
    },

    computed: {

    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
