<template>
	<v-layout>
		<div class=" container  container-fixed-lg">
			<div class="br-section-wrapper pd-0">
					<div class="br-section-header">
						<h6 class="br-section-label">Information form</h6>
						<p>A form with a label on top of each form control.</p>
					</div>
					<div class="br-section-body pd-70-force">
						<h6 class="br-section-label">Role information</h6>
						<p class="br-section-text">A basic form control with disabled and readonly mode.</p>
						<div id="v-step-0">A DOM element on your page. The first step will pop on this element because its ID is 'v-step-0'.</div>
						    <div class="v-step-1">A DOM element on your page. The second step will pop on this element because its ID is 'v-step-1'.</div>
						    <div data-v-step="2">A DOM element on your page. The third and final step will pop on this element because its ID is 'v-step-2'.</div>

						<v-tour name="myTour" :steps="steps"></v-tour>
					</div>

			</div>
		</div>
	</v-layout>
</template>

<script>
  /* ============
   * Get started Page
   * ============
   *
   * Page where information about web app is explained.
   */
import VLayout from '@/layouts/Default'

  export default {
    data () {
      return {
        steps: [
          {
            target: '#v-step-0', // We're using document.querySelector() under the hood
            content: `Discover <strong>Vue Tour</strong>!`
          },
          {
            target: '.v-step-1',
            content: 'An awesome plugin made with Vue.js!'
          },
          {
            target: '[data-v-step="2"]',
            content: 'Try it, you\'ll love it!<br>You can put HTML in the steps and completely customize the DOM to suit your needs.',
            params: {
              placement: 'top'
            }
          }
        ]
      }
    },
    mounted: function () {
      this.$tours['myTour'].start()
    },
    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
