<template>
  <v-layout context="dashboard">
<div class=" container  container-fixed-lg">
  <div class="br-section-wrapper pd-0">
  <form @submit.prevent="submit(model)" autocomplete="off">
  <div class="br-section-header">
          <h6 class="br-section-label">New property</h6>
          <p class="br-section-text">A form with a label on top of each form control.</p>
</div>

<div class="br-section-body pd-70-force">

<message-alert :alert="getMessage" />
          <div class="form-layout form-layout-1">
          <div class="row">
          <div class="col-lg-8">
            <div class="row mg-b-25">
              <div class="col-lg-12">
                <div class="form-group mg-b-10-force" id="location">
                  <label class="form-control-label">City: <span class="tx-danger">*</span></label>
                  <multiselect v-model="model.location" id="ajax" label="name" track-by="id" placeholder="Type to search" open-direction="bottom" :custom-label="nameWithProvince" :clear-on-select="true" :options="cities" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="true" @search-change="onChangeLocation">
                      <span slot="noResult">Oops! No cities found. Consider changing the search query.</span>
                    </multiselect>
                    <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force" id="address">
                  <label>Adress</label>
                  <input type="text" v-model="model.address" placeholder="eg. St Catherine" class="form-control">
                  <span class="error"></span>
                </div>
              </div><!-- col-4 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force" id="postalCode">
                  <label>Postal code</label>
                  <input type="text" v-model="model.postalCode" placeholder="eg. ### ###" class="form-control">
                  <span class="error"></span>
                </div>
              </div><!-- col-6 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force" id="saleType">
                  <label>Type of sale</label>
                    <select v-model="model.saleType" @change="changeTypeOfProperty" class="form-control input-md">
                      <option value="">Select a value</option>
                      <option v-for="type in typeOfSale" :key="type" :value="type">{{ type }}</option>
                    </select>
                    <span class="error"></span>
                </div>
              </div><!-- col-6 -->
              <div class="col-lg-6">
                <div class="form-group mg-b-10-force" id="type">
                  <label>Type of property</label>
                    <select v-model="model.type" class="form-control input-md">
                      <option value="">Select a value</option>
                      <option v-for="propertyType in propertyTypes" :key="propertyType" :value="propertyType">{{propertyType}}</option>
                    </select>
                    <span class="error"></span>
                </div>
              </div><!-- col-6 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force" id="status">
                  <label>Status of property</label>
                    <input type="text" v-model="model.status" placeholder="eg. St Catherine" class="form-control">
                    <span class="error"></span>
                </div>
              </div><!-- col-6 -->
              <div class="col-lg-4">
                <div class="form-group mg-b-10-force" id="size">
                  <label>Size of property</label>
                  <vue-numeric separator="," :minus="false" :precision="2" v-model="model.size" class="form-control" />
                  <span class="error"></span>
                </div>
              </div><!-- col-6 -->
              <div class="col-lg-4">
                <div class="mg-b-10-force" id="price">
                  <label>Price of property</label>
                  <vue-numeric currency="$" separator="," v-model="model.price" placeholderValue="Size of property" class="form-control" />
                  <span class="error"></span>
                </div>
              </div><!-- col-6 -->
              <div class="col-lg-6">
                <div :class="classObject" class="form-group mg-b-10-force" id="bedrooms">
                  <label>Bedroom<span v-if="classObject.required" class="tx-danger">*</span></label>
                    <select v-model="model.bedrooms" class="form-control" :disabled="model.saleType == 'for_rent'">
                      <option value="">Select a value</option>
                      <option v-for="n in 9" :key="n" :value="n">{{n}}</option>
                      <option value="10">10+</option>
                    </select>
                    <span v-if="!classObject.required" class="error"></span>
                </div>
              </div><!-- col-6 -->
              <div class="col-lg-6">
                <div :class="classObject" class="form-group mg-b-10-force" id="bathrooms">
                  <label>Bathroom<span v-if="classObject.required" class="tx-danger">*</span></label>
                    <select v-model="model.bathrooms" class="form-control" :disabled="model.saleType == 'for_rent'">
                      <option value="">Select a value</option>
                      <option v-for="n in 9" :key="n" :value="n">{{n}}</option>
                      <option value="10">10+</option>
                    </select>
                    <span v-if="!classObject.required" class="error"></span>
                </div>
              </div><!-- col-6 -->
              <div class="col-lg-12">
                <div class="mg-b-10-force" id="description">
                  <label for="descriptionProperty">Description</label>
                    <textarea v-model="model.description" class="form-control" id="descriptionProperty" rows="10"></textarea>
                    <span class="error"></span>
                </div>
              </div><!-- col-12 -->
              <div class="col-lg-12">
                <div class="mg-b-10-force" id="characteristics">
                  <label for="descriptionProperty">Characteristics</label>
                    <div class="row">
                <div v-for="characteristic in characteristics" :key="characteristic" class="col-md-4">
                  <label class="form-check-label">
                    <input v-model="model.characteristics" class="form-check-input" type="checkbox" :id="characteristic" :value="characteristic"> {{ characteristic }}
                  </label>
                </div>
              </div>
              <span class="error"></span>
                </div>
              </div><!-- col-6 -->
            </div><!-- row -->
            </div>
            <div class="col-lg-4">
              <label class="form-control-label mg-r-10">Photo : </label>
              <div class=" mg-md-t-0">

            <div class="ht-150 bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">


              <div class="tx-center wd-60p">
                <input type="file" name="files" id="file-3" class="inputfile" accept="image/*" @change="handleFilesSelect" multiple="multiple"  />
<label for="file-3" class="if-style-1 if-primary">
  <div class="icon-wrapper">
    <i class="icon ion-ios-upload-outline"></i>
  </div>
  <span>Choose a file</span>
</label>
              </div>

              <ul class="fileuploader-items-list text-left" ref="selectedFiles">

              </ul>
            </div>
          </div><!-- card -->
            </div>

</div>
          </div><!-- form-layout -->
          </div>

                    <div class="br-section-footer">

              <button id="property-new" class="btn btn-info">Submit Form</button>
              <button class="btn btn-secondary">Cancel</button>

          </div>



</form>
        </div>
</div>

  </v-layout>
</template>

<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import Transformer from '@/transformers/PropertyTransformer'
  import VLayout from '@/layouts/Default'
  import * as constants from '@/constants/index'

  export default {
    /**
     * The name of the page.
     */
    name: 'propertyNew-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
        model: {
          postalCode: null,
          address: null,
          location: [],
          size: 0,
          status: null,
          price: 0,
          saleType: '',
          type: '',
          bedrooms: '',
          bathrooms: '',
          characteristics: [],
          description: null
        },
        isLoading: false,
        cities: [],
        propertyTypes: []
      }
    },

    mounted: function () {
      var $this = this
      var target = document.querySelector('.fileuploader-items-list')
      var observer = new MutationObserver(function (mutations) {
        document.querySelector('.fileuploader-action').onclick = function () { alert('The paragraph was clicked.') }
        /* window.$('.fileuploader-action').click(function () {
          alert('The paragraph was clicked.')
        }) */
        mutations.forEach(function (mutation) {
          /* if (mutation.removedNodes.length) {
            console.log('removed nodes', mutation.removedNodes[0].nodeValue)
            alert('removed nodes')
          } */

          if (mutation.addedNodes.length) {
            var el = document.querySelector('.column-actions')
            el.addEventListener('click', $this.removeFile)
            // alert('added nodes')
            // console.log('added nodes', mutation.addedNodes[0].nodeValue)
          }
        })
      })

      var config = {
        childList: true,
        subtree: true,
        characterData: true
      }

      observer.observe(target, config)
      // document.querySelector(".example")
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      submit: function (payload) {
        payload = {method: 'post', url: '/api/property/new', data: Transformer.send(this.model), button: document.getElementById('property-new')}
        this.$store.dispatch('global/submit', payload)
      },
      nameWithProvince: function ({ name, province }) {
        return `${province.name}, ${name}`
      },
      asyncFind: function (query) {
        this.isLoading = true
        this.$http.get('/api/city', {params: {q: query}}).then(response => {
          // get status
          this.isLoading = false
          this.cities = response.data.content
        }, response => {
          // get failed
          console.log(response)
        })
      },
      onChangeLocation: function (searchQuery) {
        if (searchQuery.length >= 3) {
          this.asyncFind(searchQuery)
        }
      },
      changeTypeOfProperty: function (e) {
        if (e.target.value === 'for_sale') {
          this.propertyTypes = constants.TYPE_FOR_SALE
        } else if (e.target.value === 'for_rent') {
          this.propertyTypes = constants.TYPE_FOR_RENT
        } else {
          this.propertyTypes = []
        }
      },
      bytesToSize (bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        if (bytes === 0) return 'n/a'
        let i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)))
        if (i === 0) return bytes + ' ' + sizes[i]
        return (bytes / Math.pow(1024, i)).toFixed(2) + ' ' + sizes[i]
      },
      removeFile: function (element) {
        // const index = array.indexOf(element)
        console.log('fewfew')
        console.log('element')
        // array.splice(index, 1)
      },
      handleFilesSelect: function (e) {
        // create a constant $this so that the element can be access everywhere
        const $this = this
        if (!e.target.files || !window.FileReader) return
        let files = e.target.files
        let filesArr = Array.prototype.slice.call(files)
        filesArr.forEach(function (f) {
          if (!f.type.match('image.*')) {
            return
          }
          let reader = new FileReader()
          reader.onload = (e) => {
            let fileObject = {
              file: f,
              size: $this.bytesToSize(f.size),
              image: e.target.result
            }
            $this.$store.dispatch('global/setList', fileObject)
            let html = `<li class="fileuploader-item file-type-image file-ext-png file-has-popup upload-successful">
                <div class="columns">
                  <div class="column-thumbnail">
                    <div class="fileuploader-item-image">
                      <img src="${fileObject.image}" width="64" height="36">
                    </div><span class="fileuploader-action-popup"></span>
                  </div>
                  <div class="column-title">
                    <div title="${fileObject.file.name}" class="fs-13">${fileObject.file.name}</div><span>${fileObject.size}</span>
                  </div>
                  <div class="column-actions"><a class="fileuploader-action fileuploader-action-remove" title="Remove"><i></i></a><a class="fileuploader-action fileuploader-action-remove fileuploader-action-success" title="Remove"><i></i></a>
                  </div>
                </div>
                <div class="progress-bar2" style="display: none;">
                  <div class="fileuploader-progressbar">
                    <div class="bar" style="width: 100%;"></div>
                  </div><span>100%</span>
                </div>
              </li>`
            /* <li class="fileuploader-item file-type-image file-ext-jpg upload-loading"><div class="columns"><div class="column-thumbnail"><div class="fileuploader-item-image fileuploader-loading"></div><span class="fileuploader-action-popup"></span></div><div class="column-title"><div title="DSC_0026.JPG">DSC_0026.JPG</div><span>6.48 MB</span></div><div class="column-actions"><a class="fileuploader-action fileuploader-action-remove" title="Remove"><i></i></a></div></div><div class="progress-bar2"><div class="fileuploader-progressbar"><div class="bar" style="width: 49%;"></div></div><span>49%</span></div></li> */
            // '<img src=\'' + e.target.result + '\'>' + f.name + '<br />'
            $this.$refs.selectedFiles.innerHTML += html
          }
          reader.readAsDataURL(f)
        })
      }
    },

    computed: {
      characteristics: function () {
        return constants.CHARACTERISTICS
      },
      typeOfSale: function () {
        return constants.TYPE_OF_SALE
      },
      classObject: function () {
        return {
          disabled: this.model.saleType === 'for_rent',
          required: this.model.saleType === 'for_sale'
        }
      },
      /**
       * Will display the message wether its true or false
       */
      getMessage: function () {
        let message = this.$store.state.alert
        if (message.status) {
          this.model = {
            postalCode: null,
            address: null,
            location: [],
            size: 0,
            status: null,
            price: 0,
            saleType: '',
            type: '',
            bedrooms: '',
            bathrooms: '',
            characteristics: [],
            description: null
          }
        }
        return message
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
