<template>
  <div class="col-md-9">
      <div class="bg-white pd-30 shadow-base rounded-5">
                    <div class="bd-b pd-y-30 pd-x-0">
				<div class="pos-relative d-table wd-100p ht-100p">
					<div class="wd-100p align-middle d-table-row wd-100p d-flex justify-content-between">
						<div class="pos-relative ht-100p wd-70p align-top d-table-cell">
							<h2>
                        701 S Miami Ave                    </h2>
						</div>
						<div class="tx-right-force ht-100p wd-30p align-top pos-relative d-table-cell"> <span class="badge badge-info">
            For Rent        </span>
						</div>
					</div>
					<div class="d-table-row wd-100p valign-middle d-flex justify-content-between">
						<div class="clearfix">
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light">August 25, 2017</div>
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light"> <span class="tx-11 tx-spacing-8">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
    </span>
							</div>
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light"> <span class="">
	<a href="javascript:void(0)" class="" data-property-id="431">
        <i class="fa fa-heart-o"></i>
        <span class="">
            3        </span>
								</a>
								</span>
							</div>
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light"> <i class="lnr lnr-eye" aria-hidden="true"></i>
								<span class="">1070</span>
							</div>
							<div class="float-left d-inline-block valign-middle pd-y-0 pd-x-15 tx-13 tx-black tx-normal border border-top-0 border-bottom-0 border-left-0 border-light"></div>
						</div>
						<div class="d-table-cell ht-100p wd-30p tx-right valign-top"> <span class="tx-semibold">
                            Property ID:                        </span>
							<span class="tx-semibold tx-black">
                            1234                        </span>
						</div>
					</div>
				</div>
			</div>

<div class="pd-t-35">
<div class="row">
<div class="col-md-4">
<h5>
Two-Factor Authentication
</h5>
<p>
Increase your account's security by enabling Two-Factor Authentication (2FA).
</p>
</div>
<div class="col-md-8">
<p>
Status: Disabled
</p>
<a class="btn btn-success" href="javascript:;">Enable proposal to be displayed</a>
</div>
</div>
<hr>
<div class="row prepend-top-default">
<div class="col-md-4">
<h5>
Edit proposal data
</h5>
<p>
Changing your username can have unintended side effects.
<a href="javascript:;">Learn more</a>.
</p>
</div>
<div class="col-md-8">
<div>
  <p>
      Current path:
    </p> <button class="btn btn-warning">
    Update proposal :id
  </button> <div id="username-change-confirmation-modal" tabindex="-1" role="dialog" class="modal fade"><div role="document" class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" data-dismiss="modal" aria-label="Close" class="close js-modal-close-action"><span aria-hidden="true">×</span></button> <h4 class="modal-title">
              Change username?
            </h4></div> <div class="modal-body"><span>
You are going to change the username <strong>yvau</strong> to <strong>yvau</strong>.
Profile and projects will be redirected to the yvau namespace but this redirect will expire once the yvau namespace is registered by another user or group.
Please update your Git repository remotes as soon as possible.</span></div> <div class="modal-footer"><button type="button" data-dismiss="modal" class="btn js-modal-cancel-action">
            Cancel
          </button> <button type="button" data-dismiss="modal" class="btn js-modal-primary-action btn-warning">
            Update username
          </button></div></div></div></div></div>
</div>
</div>
<hr>
<div class="row">
<div class="col-md-4">
<h4 class="prepend-top-0 danger-title">
Delete proposal
</h4>
</div>
<div class="col-md-8">
<p>
Deleting a proposal has the following effects:
</p>
<ul>
<li>
<p>
Certain user content will be moved to a system-wide "Ghost User" in order to maintain content for posterity. For further information, please refer to the
<a href="/help/user/profile/account/delete_account#associated-records">user account deletion documentation.</a>
</p>
</li>
<li>12 personal projects will be removed and cannot be restored</li>
</ul>

<button class="btn btn-danger">
Delete proposal
</button>
<div class="modal-open"><div id="delete-account-modal" role="dialog" tabindex="-1" class="modal"><div role="document" class="modal-dialog"><div class="modal-content"><div class="modal-header"><h4 class="modal-title pull-left">
              Delete your account?
            </h4> <button type="button" data-dismiss="modal" aria-label="Close" class="close pull-right"><span aria-hidden="true">×</span></button></div> <div class="modal-body"><p>
You are about to permanently delete <strong>your account</strong>, and all of the issues, merge requests, and groups linked to your account.
Once you confirm <strong>Delete Account</strong>, it cannot be undone or recovered.</p> <form action="/users" method="post"><input type="hidden" name="_method" value="delete"> <input type="hidden" name="authenticity_token" value="u/RzrONv6tbtXCG7toBI2f5CB+OGzwPCJ78Diq8RpSziv8/lIG3xPkj/SNHVLxTrPMrBgQYqkadKX7HWFIevZQ=="> <p id="input-label">Type your <code>password</code> to confirm:</p> <input name="password" type="password" aria-labelledby="input-label" class="form-control"></form></div> <div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-default">
            Cancel
          </button> <!----> <button type="button" data-dismiss="modal" class="btn js-primary-button btn-danger">
            Delete account
          </button></div></div></div></div> <!----></div>
</div>
</div>
<div class="append-bottom-default"></div>

</div>



      </div>
            </div>
</template>
<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'
  import moment from 'moment'
  import transformer from '@/transformers/ProposalTransformer'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    created: function () {
      // this.find()
    },

    /**
     * The methods the page can use.
     */
    methods: {
      /**
       * Will log the user in.
       *
       * @param {Object} user The user to be logged in.
       */
      find: function () {
        let payload = {url: 'api/buy', data: this.$route.params.id, transformer: transformer}
        this.$store.dispatch('global/find', payload)
      },
      getLink: function (id, type) {
        let url = (type === 'for_sale') ? '/buy/' + id : '/rent/' + id
        return url
      },
      getTime: function (time) {
        time = moment(time).fromNow()
        return time
      },
      getDate: function (time) {
        time = moment(time).format('DD MMM YYYY')
        return time
      }
    },

    computed: {
      proposal: function () {
        return this.$store.state.global.object
      },
      getTab: function () {
        return this.$route.query.tab ? this.$route.query.tab !== undefined : 'null'
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
