<template>
      <div class="bg-white mg-t-20 pd-30 shadow-base rounded-5">


                    <div class="wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top wd-20p">
        <h5>
            Specification        </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">

            <div class="row">
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-bedrooms.png" alt="Property bedroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Bedrooms:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                3                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-bathrooms.png" alt="Property bathroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Bathrooms:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                2                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-property-size.png" alt="Property size icon"/>                                </span>
                                <span class="valign-middle">
                                    Property size:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                650sq ft                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-floor.png" alt="Property floor icon"/>                                </span>
                                <span class="valign-middle">
                                    Floor:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                12                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-total-floors.png" alt="Property total floors icon"/>                                </span>
                                <span class="valign-middle">
                                    Total floors:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                16                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-year-built.png" alt="Property year built icon"/>                                </span>
                                <span class="valign-middle">
                                    Year Built:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                2010                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-heating.png" alt="Property heating icon"/>                                </span>
                                <span class="valign-middle">
                                    Heating:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Floor Heating                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/plugins/mkdf-real-estate/assets/img/icon-accommodation.png" alt="Property accommodation icon"/>                                </span>
                                <span class="valign-middle">
                                    Accommodation:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Furnished                            </span>
                        </div>
                    </div>
        </div>

    </div>
</div>

<div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top valign-middle c-table-cell">

        <h5>
            Leasing terms       </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">

            <div class="row">
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-1.png" alt="Property bedroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Deposit:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                $3000                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-3.png" alt="Property bathroom icon"/>                                </span>
                                <span class="valign-middle">
                                    Allowed Pets:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Dogs, Cats                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-2.png" alt="Property size icon"/>                                </span>
                                <span class="valign-middle">
                                    Payment period:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Monthly                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-5.png" alt="Property floor icon"/>                                </span>
                                <span class="valign-middle">
                                    Habitable:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                Instantly                            </span>
                        </div>
                    </div>
                                    <div class="col-md-6">
                        <div class="wd-100p ht-100p pos-relative d-table pd-t-0 pd-r-0 pd-b-20">
                            <span class="pos-relative d-table-cell ht-100p valign-middle valign-top wd-50p tx-light">
                                <span class="">
                                    <img class="mg-r-10 valign-middle d-inline-block wd-10 ht-10" src="http://zuhaus.mikado-themes.com/wp-content/uploads/2017/10/leasing-terms-icon-4.png" alt="Property total floors icon"/>                                </span>
                                <span class="valign-middle">
                                    Minimum lease:                                </span>
                            </span>
                            <span class="wd-50p ht-100p d-table-cell tx-black tx-xs-semibold lh-7">
                                6 months                           </span>
                        </div>
                    </div>


                            </div>


    </div>
</div>




                        <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
        <div class="wd-20p pos-relative d-table-cell ht-100p valign-middle align-top">
            <h5>
                Features            </h5>
        </div>
        <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
            <div class="row">
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            AC &amp; Heating                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Balcony                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Clubhouse                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Dishwasher                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Elevator                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Fitness Center                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Granite Countertops                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Laundry Facilities                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Modern Kitchen                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Pet Friendly                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Pool                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Spa                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Storage Units                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Tennis Court                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Valet Parking                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Walk-In Closets                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Washer/Dryer                        </span>
                    </div>
                </div>
                                <div class="col-md-4">
                    <div class="tx-gray-500 pd-t-0 pd-x-0 pd-b-10">
                        <i class="mg-r-10 tx-15 pos-relative t-2 icon-check" aria-hidden="true"></i>
                        <span>
                            Wi Fi in Common Areas                        </span>
                    </div>
                </div>
                            </div>
        </div>
    </div>
                    <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top wd-20p">
        <h5>
            Location        </h5>
    </div>


        <div class="mg-t-30 mg-x-0 mg-b-0">
            <div class="row">






            </div>
        </div>

</div>
  <div class="pd-t-35 wd-100p bd-b pd-r-0 pd-b-15 pos-relative d-table">
    <div class="pos-relative ht-100p  align-top">
        <h5>
            Description       </h5>
    </div>
    <div class="clearfix wd-80p align-top pos-relative d-table-cell ht-100p valign-top valign-middle">
    {{ property.description }}

            </div>
</div>
      </div>
</template>
<script>
  /* ============
   * Login Index Page
   * ============
   *
   * Page where the user can login.
   */

  import VLayout from '@/layouts/Default'

  export default {
    /**
     * The name of the page.
     */
    name: 'login-index',

    /**
     * The data that can be used by the page.
     *
     * @returns {Object} The view-model data.
     */
    data () {
      return {
      }
    },

    computed: {
      property: function () {
        return this.$store.state.global.object
      }
    },

    /**
     * The components the page can use.
     */
    components: {
      VLayout
    }
  }
</script>
